@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('/fonts/MuseoSansCyrl-300.woff2') format('woff2'),
        url('/fonts/MuseoSansCyrl-300.woff') format('woff'),
        url('/fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('/fonts/MuseoSansCyrl-500.woff2') format('woff2'),
        url('/fonts/MuseoSansCyrl-500.woff') format('woff'),
        url('/fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Trajan Pro 3';
  src: url("/fonts/TrajanPro3Light.woff") format("woff"), url("/fonts/fonts/TrajanPro3Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'Trajan Pro 3';
    src: url('/fonts/TrajanPro3Regular.woff2') format('woff2'),
        url('/fonts/TrajanPro3Regular.woff') format('woff'),
        url('/fonts/TrajanPro3Regular.svg#TrajanPro3Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trajan Pro 3';
    src: url('/fonts/TrajanPro3SemiBold.woff2') format('woff2'),
        url('/fonts/TrajanPro3SemiBold.woff') format('woff'),
        url('/fonts/TrajanPro3SemiBold.svg#TrajanPro3SemiBold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?f6r4wt');
  src:  url('/fonts/icomoon.eot?f6r4wt#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?f6r4wt') format('truetype'),
    url('/fonts/icomoon.woff?f6r4wt') format('woff'),
    url('/fonts/icomoon.svg?f6r4wt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}