.certification-slider__slide
    .certificat
        img.certificat__img(src='/images/certification/scan2.jpg', alt='')
        .certificat__caption
            .font_size14.fw_medium Сертификат "Система обучения сотрудников Профессионал". Технология Евгения Котова
        a.fancybox.certificat__zoom(href='/images/certification/scan2_big.jpg', rel='certification')
            span.certificat__zoom-icon
.certification-slider__slide
    .certificat
        img.certificat__img(src='/images/certification/scan1.jpg', alt='')
        .certificat__caption
            .font_size14.fw_medium Сертификат официального партнера ПАО "Сбербанк"
        a.fancybox.certificat__zoom(href='/images/certification/scan1_big.jpg', rel='certification')
            span.certificat__zoom-icon
.certification-slider__slide
    .certificat
        img.certificat__img(src='/images/certification/scan3.jpg', alt='')
        .certificat__caption
            .font_size14.fw_medium Сертификат "Система обучения сотрудников Профессионал". Технология Евгения Котова
        a.fancybox.certificat__zoom(href='/images/certification/scan3_big.jpg', rel='certification')
            span.certificat__zoom-icon
