.contact-screen
    .main
        img.contact-screen__dots(src='/images/contact_dots.png', alt='')
        img.contact-screen__marker(src='/images/marker_big.png', alt='')
        .head-screen.contact-screen__top
            .contact-screen__title
                h2.fons_size44 Посетите наш офис в Сочи
            //- .contact-screen__link
                a.fw_medium.link-more(href='#')
                    | Как проехать в офис 
                    span.icon-arrow.link-more__arrow
        #map.map.mt70
        .contact-screen__bottom.mt40
            .contact-screen__item
                .font_size22.ff_trajan Центральный офис:  
                .mt10.contact-adress
                    .contact-adress__icon.icon-map-marker
                    #mapAdress.font_size14.fw_medium Краснодарский край, г.Сочи, Воскресенская, д.14/1, офис 103 
            .contact-screen__item
                .font_size22.ff_trajan Телефон:
                .contact-phone
                    .contact-phone__icon.icon-telephone
                    .contact-phone__text.fw_medium +7 ( 862 ) 225 65 05
                button.button.button_yelow.button_medium.mt25.js-popup-show(data-popup-name='js-popup-call', data-popup-subj='Заявка на обратный звонок с футера') Обратный звонок
                .social
                    a.social__item.social__item_vk.icon-vk(href='https://vk.com/kislorod_sochi', target="_blank")
                    a.social__item.social__item_youtube.icon-youtube(href='https://www.youtube.com/channel/UC1gNPoFN8vYKe8sTsEuYOCA', target="_blank")
                    a.social__item.social__item_instagram.icon-instagram(href='https://www.instagram.com/kislorod_sochi/', target="_blank")
                    a.social__item.social__item_facebook.icon-facebook(href='https://www.facebook.com/%D0%9D%D0%B5%D0%B4%D0%B2%D0%B8%D0%B6%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D1%8C-%D0%A1%D0%9E%D0%A7%D0%98-%D0%90%D0%94%D0%9B%D0%95%D0%A0-289135585237844/', target="_blank")
            .contact-screen__item
                .font_size22.ff_trajan Почта:
                .contact-mail
                    .contact-mail__icon.icon-message
                    .contact-mail__text.fw_medium info@kislorod123.ru
footer.footer
    .main
        .footer__inside-wrap
            a.footer__logo(href='/')
                img(src='/images/logo.svg', alt='')
            .footer__right
                .footer__info
                    h3.font_size22.fw_medium
                        | Агентство элитной недвижимости 
                        br
                        | в городе Сочи
                    .mt10
                        .font_size14.fw_medium
                            a.fade05.js-popup-show(href='#', data-popup-name='js-popup-polity') Политика конфиденциальности
                        .font_size14.fw_medium
                            a.fade05.js-show-requisites(href='#') Реквизиты
                a.footer__develop.font_size14.fw_medium.fade05(href='https://artrepin.ru', target='_blank')
                    img.footer__develop-logo(src='/images/logo_repin.svg', alt='')
                    | Разработка — 
                    br
                    | Картина Репина
    .popup-requisites.js-popup-requisites
        .main
            .popup__close.js-close-requisites.js-svg(data-svg-src='/images/icons/close.svg')
            .row
                .col-sm-5.col-min-6
                    .font_size22.ff_trajan Центр недвижимости «Кислород»,  ООО "Сочи Лайф" г. Сочи, Краснодарский край
                    //- a.button.button_yelow.button_medium.mt25.popup-requisites__load(href='#') Скачать реквизиты компании
                .col-sm-5.col-min-6
                    .requisites-list
                        .requisites-list__item.row
                            .col-min-4.requisites-list__col
                                .font_size14.fw_medium ИНН
                            .col-min-8.requisites-list__col
                                .font_size14.fw_medium.fade05 2366006696
                        .requisites-list__item.row
                            .col-min-4.requisites-list__col
                                .font_size14.fw_medium ОГРН
                            .col-min-8.requisites-list__col
                                .font_size14.fw_medium.fade05 1182375068303
                        .requisites-list__item.row
                            .col-min-4.requisites-list__col
                                .font_size14.fw_medium КПП
                            .col-min-8.requisites-list__col
                                .font_size14.fw_medium.fade05 236601001
                        .requisites-list__item.row
                            .col-min-4.requisites-list__col
                                .font_size14.fw_medium Расч/счет
                            .col-min-8.requisites-list__col
                                .font_size14.fw_medium.fade05 40702810430060006627
                        .requisites-list__item.row
                            .col-min-4.requisites-list__col
                                .font_size14.fw_medium БИК
                            .col-min-8.requisites-list__col
                                .font_size14.fw_medium.fade05 046015602
                        .requisites-list__item.row
                            .col-min-4.requisites-list__col
                                .font_size14.fw_medium Ген. директор
                            .col-min-8.requisites-list__col
                                .font_size14.fw_medium.fade05 Скрипко Иван Борисович
                        .requisites-list__item.row
                            .col-min-4.requisites-list__col
                                .font_size14.fw_medium Юр. Адрес
                            .col-min-8.requisites-list__col
                                .font_size14.fw_medium.fade05 354053, Краснодарский край, город Сочи, ул. Фадеева, д. 32/1, помещение 1
.popup-wrap.js-popup-menu
   .popup-wrap__inside-wrap
      .popup-overlay.js-popup-close
      .popup
         .popup__close.js-popup-close.js-svg(data-svg-src='/images/icons/close.svg')
         .popup__inside-wrap
            nav.popup-menu.ff_trajan
               a.popup-menu__item(href='/') Главная
               a.popup-menu__item(href='/catalog') Каталог
               a.popup-menu__item(href='/about') О компании
               a.popup-menu__item(href='/partner') Партнеры
         .popup__bottom
            .popup__left
               a.popup__logo(href='/')
                  img(src='/images/logo.svg', alt='')
               .popup__desc
                  .font_size12.fade05
                     | Агентство элитной 
                     br
                     | недвижимости 
                     br
                     | в городе Сочи
            .popup__right
               .popup__phone
                  span.popup__phone-icon.icon-telephone
                  |  +7 
                  span (
                  |  862 
                  span )
                  |  225 65 05
.popup-wrap.js-popup-call
    .popup-wrap__inside-wrap
        .popup-overlay.js-popup-close
        .popup
            .popup__expert
                img(src='/images/experts/1_mirror.png', alt='')
            .popup__close.js-popup-close.js-svg(data-svg-src='/images/icons/close.svg')
            .popup__inside-wrap
                .callback
                    .font_size44.ff_trajan Закажите обратный звонок 
                    .mt15
                        .font_size22.ff_trajan
                            | Менеджер перезвонит 
                            br
                            | вам в ближайшее время
                    form.ajax-form.callback__form(action='/send', method='post', data-parsley-validate='', enctype='multipart/form-data')
                        input(type='hidden', name='subj', value='')
                        .message-list.mt50
                            .message-list__item
                                label.message-checkbox
                                    input.message-checkbox__input(type='radio', value='WhatsApp', name='message', checked='')
                                    span.message-checkbox__btn
                                        span.message-checkbox__icon.icon-whatsapp
                                    span.message-checkbox__text-wrap
                                        span.message-checkbox__text WhatsApp
                            .message-list__item
                                label.message-checkbox
                                    input.message-checkbox__input(type='radio', value='Viber', name='message')
                                    span.message-checkbox__btn
                                        span.message-checkbox__icon.message-checkbox__icon_viber.icon-viber
                                    span.message-checkbox__text-wrap
                                        span.message-checkbox__text Viber
                            .message-list__item
                                label.message-checkbox
                                    input.message-checkbox__input(type='radio', value='Telegram', name='message')
                                    span.message-checkbox__btn
                                        span.message-checkbox__icon.icon-telegram
                                    span.message-checkbox__text-wrap
                                        span.message-checkbox__text Telegram
                        .input-box
                            input.input-text.input-text_border(type='text', name='name', required='', data-parsley-errors-messages-disabled='', placeholder='Введите ваше имя')
                            label.input-box__icon.icon-user
                        .input-box.mt10
                            input.input-text.input-text_border(type='tel', name='phone', required='', data-parsley-errors-messages-disabled='', placeholder='+7 (___) ___-__-__')
                            label.input-box__icon.icon-telephone
                        <div class="g-recaptcha" data-sitekey= #{env.RECAPTCHA_PUBLIC} data-theme="dark" data-callback="RecaptchaSuccess"></div>
                        button.button.button_big.button_blue.button_blue2.mt30.gcaptcha(type='submit', name='call2', disabled)
                            | Заказать звонок
                            span.button__arrow.icon-arrow
                        .polity-box.mt35
                            .polity-box__dot
                            .font_size12.fw_medium.fade05
                                | Вы соглашаетесь с условиями 
                                br
                                | обработки персональных данных 
                                br
                                a.js-popup-show(href='#', data-popup-name='js-popup-polity') ознакомиться
.popup-wrap.js-popup-seminar
    .popup-wrap__inside-wrap
        .popup-overlay.js-popup-close
        .popup
            .popup__expert
                img(src='/images/experts/1_mirror.png', alt='')
            .popup__close.js-popup-close.js-svg(data-svg-src='/images/icons/close.svg')
            .popup__inside-wrap
                .callback
                    .font_size44.ff_trajan Оставьте заявку 
                    .mt15
                        .font_size22.ff_trajan
                            | Менеджер перезвонит 
                            br
                            | вам в ближайшее время
                    form.ajax-form.callback__form(action='/send', method='post', data-parsley-validate='', enctype='multipart/form-data')
                        input(type='hidden', name='subj', value='')
                        .message-list.mt50
                            .message-list__item
                                label.message-checkbox
                                    input.message-checkbox__input(type='radio', value='WhatsApp', name='message', checked='')
                                    span.message-checkbox__btn
                                        span.message-checkbox__icon.icon-whatsapp
                                    span.message-checkbox__text-wrap
                                        span.message-checkbox__text WhatsApp
                            .message-list__item
                                label.message-checkbox
                                    input.message-checkbox__input(type='radio', value='Viber', name='message')
                                    span.message-checkbox__btn
                                        span.message-checkbox__icon.message-checkbox__icon_viber.icon-viber
                                    span.message-checkbox__text-wrap
                                        span.message-checkbox__text Viber
                            .message-list__item
                                label.message-checkbox
                                    input.message-checkbox__input(type='radio', value='Telegram', name='message')
                                    span.message-checkbox__btn
                                        span.message-checkbox__icon.icon-telegram
                                    span.message-checkbox__text-wrap
                                        span.message-checkbox__text Telegram
                        .input-box
                            input.input-text.input-text_border(type='text', name='name', required='', data-parsley-errors-messages-disabled='', placeholder='Введите ваше имя')
                            label.input-box__icon.icon-user
                        .input-box.mt10
                            input.input-text.input-text_border(type='tel', name='phone', required='', data-parsley-errors-messages-disabled='', placeholder='+7 (___) ___-__-__')
                            label.input-box__icon.icon-telephone
                        <div class="g-recaptcha" data-sitekey= #{env.RECAPTCHA_PUBLIC} data-theme="dark" data-callback="RecaptchaSuccess"></div>
                        button.button.button_big.button_blue.button_blue2.mt30.gcaptcha(type='submit', name='call2', disabled)
                            | Оставить заявку
                            span.button__arrow.icon-arrow
                        .polity-box.mt35
                            .polity-box__dot
                            .font_size12.fw_medium.fade05
                                | Вы соглашаетесь с условиями 
                                br
                                | обработки персональных данных 
                                br
                                a.js-popup-show(href='#', data-popup-name='js-popup-polity') ознакомиться
.popup-wrap.js-popup-polity
   .popup-overlay.js-popup-close
   .popup-polity
      .popup__close.js-popup-close.js-svg(data-svg-src='/images/icons/close.svg')
      .popup-polity__content
         p.c13.c2.c20
            span.c19
         p.c10.c16
            span.c7 ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ 
         p.c10.c16
            span.c12 ПЕРСОНАЛЬНЫХ ДАННЫХ
         p.c2.c13
            span.c11
         p.c1
            span.c3
               | Москва
            span.c3.c14   
            span.c0 24 апреля 2019 года
         p.c1.c2.c5
            span.c0
         p.c1.c20.c21(id='h.gjdgxs')
            span.c0
               | Настоящая Политика конфиденциальности персональных данных (далее - Политика конфиденциальности) действует в отношении всей информации, которую компания Центр недвижимости «Кислород» (ООО “Сочи Лайф”), расположенная на доменном имени kislorod123.ru может получить о Пользователе во время использования сайта компании, предоставляющей услуги по услуг по сопровождению сделок с недвижимостью.
         ol.c17.lst-kix_list_1-0.start(start='1')
            li.c10.c15
               span.c7 ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
         p.c1
            span.c0         1.1. В Политике конфиденциальности используются следующие термины:
         p.c1(id='h.30j0zll')
            span.c0
               | 1.1.1. Администрация сайта компании Центр недвижимости «Кислород» (далее - Администрация сайта) - уполномоченные сотрудники на управления сайтом, действующие от имени ООО “Сочи Лайф”, которые организуют и (или) осуществляют обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
         p.c1
            span.c0
               | 1.1.2. “Персональные данные” - любая информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу (субъекту персональных данных).
         p.c1
            span.c0
               | 1.1.3. “Обработка персональных данных” - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
         p.c1
            span.c0
               | 1.1.4. “Конфиденциальность персональных данных” - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
         p.c1(id='h.1fob9te')
            span.c3
               | 1.1.5. “Пользователь сайта компании Центр недвижимости «Кислород» (далее - Пользователь)” - лицо, имеющее доступ к сайту, посредством сети Интернет и использующее сайт компании Центр недвижимости «Кислород».
         p.c1
            span.c0
               | 1.1.6. “Cookies” - небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в НТТР-запросе при попытке открыть страницу соответствующего сайта.
         p.c1
            span.c0
               | 1.1.7. “IP-адрес” - уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
         p.c1.c2
            span.c0
         p.c10
            span.c7 2. ОБЩИЕ ПОЛОЖЕНИЯ
         p.c1.c6
            span.c0
               | 2.1. Использование Пользователем сайта компании Центр недвижимости «Кислород» означает согласие с Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
         p.c1.c6
            span.c0
               | 2.2. В случае несогласия с условиями Политикой конфиденциальности Пользователь должен прекратить использование этого сайта.
         p.c1.c6
            span.c0
               | 2.3. Политикой конфиденциальности применяется только к сайту компании Центр недвижимости «Кислород». Компания Центр недвижимости «Кислород» не контролирует и не несёт ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам на сайте Центр недвижимости «Кислород».
         p.c1.c6
            span.c0
               | 2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта компании Центр недвижимости «Кислород».
         p.c1.c6.c2
            span.c0
         p.c10.c6
            span.c7 3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
         p.c1.c6
            span.c3
               | 3.1. Политика конфиденциальности устанавливает обязательства Администрации сайта kislorod123.ru по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте компании Центр недвижимости «Кислород» или приобретения услуг компании Центр недвижимости «Кислород».
         p.c1.c6
            span.c0
               | 3.2. Персональные данные, разрешённые к обработке в рамках Политики конфиденциальности, предоставляются Пользователем, путём заполнения регистрационной формы в различных разделах сайта  kislorod123.ru и включает в себя следующую информацию:
         p.c1.c6
            span.c0 3.2.1. Фамилию, имя, отчество Пользователя;
         p.c1.c6
            span.c0 3.2.2. Контактный номер телефона Пользователя;
         p.c1.c6
            span.c0 3.2.3. Адрес электронной почты (e-mail).
         p.c1.c6
            span.c0
               | 3.3. Компания Центр недвижимости «Кислород» защищает данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы “пиксель”):
         ul.c17.lst-kix_list_2-0.start
            li.c1.c4
               span.c0 IP-адрес;
            li.c1.c4
               span.c0 информация из Cookies;
            li.c1.c4
               span.c0
                  | информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);
            li.c1.c4
               span.c0 время доступа;
            li.c1.c4
               span.c0 адрес страницы, на которой расположен рекламный блок;
            li.c1.c4
               span.c0 реферер (адрес предыдущей страницы).
         p.c1
            span.c0
               | 3.3.1. Отключение Cookies может повлечь невозможность доступа к частям сайта kislorod123.ru требующим авторизации.
         p.c1
            span.c0
               | 3.3.2. Сайт kislorod123.ru осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.
         p.c1
            span.c0
               | 3.4. Любая иная персональная информация не оговоренная выше (история обращений, используемые браузеры и операционные системы и т.д.) подлежат надёжному хранению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. Политики конфиденциальности.
         p.c1.c2
            span.c0
         p.c10
            span.c7 4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЯ
         p.c1
            span.c0
               | 4.1. Персональные данные Пользователя Администрация сайта kislorod123.ru может использовать в целях:
         p.c1
            span.c0
               | 4.1.1. Идентификации Пользователя, зарегистрированного на сайте kislorod123.ru, для оказания услуг OOO “Сочи Лайф”.
         p.c1
            span.c0
               | 4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам сайта компании Центр недвижимости «Кислород».
         p.c1
            span.c0
               | 4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся сайта компании Центр недвижимости «Кислород», оказания услуг от Пользователя.
         p.c1
            span.c0
               | 4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
         p.c1
            span.c0
               | 4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
         p.c1
            span.c0         4.1.6. Осуществления рекламной деятельности с согласия Пользователя.
         p.c1.c2
            span.c0
         p.c10
            span.c7 5. СПОСОБЫ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
         p.c1
            span.c0
               | 5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
         p.c1
            span.c0
               | 5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, исключительно в целях оказания услуг Пользователю, оформленных на сайте kislorod123.ru.
         p.c1
            span.c0
               | 5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством российской Федерации.
         p.c1
            span.c0
               | 5.4. При утрате или разглашении персональных данных, Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.
         p.c1
            span.c0
               | 5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональных данных Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
         p.c1
            span.c0
               | 5.6. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
         p.c1.c2
            span.c0
         p.c10
            span.c7 6. ОБЯЗАТЕЛЬСТВА СТОРОН
         p.c1
            span.c7         6.1. Пользователь обязан:
         p.c1
            span.c0
               | 6.1.1. Предоставить информацию о персональных данных, необходимую для пользования сайтом компании Центр недвижимости «Кислород».
         p.c1
            span.c3         
            span.c12 6.2. Администрация сайта обязана:
         p.c1
            span.c0
               | 6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4. Политики конфиденциальности.
         p.c1
            span.c0
               | 6.2.2. Обеспечить хранение персональных данных Пользователя в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. Политики конфиденциальности.
         p.c1
            span.c0
               | 6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя, согласно порядке, обычно используемого для защиты такого рода информации в существующем деловом обороте.
         p.c1
            span.c0
               | 6.2.4. Осуществить блокирование персональных данных,  относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
         p.c1.c2
            span.c0
         p.c10
            span.c7 7. ОТВЕТСТВЕННОСТЬ СТОРОН
         p.c1
            span.c0
               | 7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесенные Пользователем в связи с неправомерных использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. Политики конфиденциальности.
         p.c1
            span.c0
               | 7.2. В случае утраты или разглашения персональных данных Пользователя, Администрация сайта не несёт ответственность, если данные персональные данные:
         p.c1
            span.c0         7.2.1. Стали публичным достоянием до их утраты или разглашения.
         p.c1
            span.c0
               | 7.2.2. Были получены от третьей стороны до момента их получения Администрацией сайта.
         p.c1
            span.c0         7.2.3. Были разглашены с согласия Пользователя.
         p.c1.c2
            span.c0
         p.c1.c2
            span.c0
         p.c1.c2
            span.c0
         p.c10
            span.c7 8. РАЗРЕШЕНИЕ СПОРОВ
         p.c1
            span.c0
               | 8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта kislorod123.ru и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
         p.c1
            span.c0
               | 8.2. Получатель претензии в течение 30 (тридцати) календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
         p.c1
            span.c0
               | 8.3. При недостижении соглашения, спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательствам Российской Федерации.
         p.c1
            span.c0
               | 8.4. К Политики конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации.
         p.c1.c2
            span.c0
         p.c10
            span.c7 9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
         p.c1
            span.c0
               | 9.1. Администрация сайта вправе вносить изменения в Политику конфиденциальности без согласия Пользователя.
         p.c1
            span.c0
               | 9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на сайте kislorod123.ru, если иное не предусмотрено новой редакцией Политики конфиденциальности.
         p.c1
            span.c0
               | 9.3. Все предложения или вопросы по Политике конфиденциальности следует сообщать  электронным письмом по адресу info@kislorod123.ru .
         p.c1
            span.c0
               | 9.4. Действующая политика конфиденциальности размещена на странице по адресу: kislorod123.ru .
         p.c1.c2
            span.c0
         p.c1
            span.c0         Размещено: “24” апреля 2019 года.
         p.c1
            span.c0         
.popup-wrap.js-popup-thanck
    .popup-wrap__inside-wrap
        .popup-overlay.js-popup-close
        .popup
            .popup__close.js-popup-close.js-svg(data-svg-src='/images/icons/close.svg')
            .popup__inside-wrap
                .font_size44.ff_trajan
                    | Спасибо за заявку. 
                    br
                    | Менеджер перезвонит вам 
                    br
                    | в ближайшее время
                .desc.mt30
                    img.desc__icon(src='/images/icons/ribbon.png', alt='')
                    p.font_size14.fade05.fw_medium
                        | А пока посмотрите наши соцсети, и следите за информацией об открытии 
                        br
                        | продаж в новых ЖК, результатах юридической экспертизы по ним, акции и т.д. 
                        br
                        | Будтье в курсе последних новостей в сфере недвижимости!
                .social-groups.row.mt70
                    .col-min-4.social-groups__item
                        a.social-groups__link(href='https://vk.com/kislorod_sochi', target='_blank')
                            span.social-groups__content
                                span.social-groups__icon.icon-vk
                                span.social-groups__text.ff_trajan
                                    | Группа
                                    br
                                    | Вконтакте
                        a.link-more.fw_medium.mt25(href='https://vk.com/kislorod_sochi', target='_blank')
                            | Подписаться 
                            span.link-more__arrow.icon-arrow
                    .col-min-4.social-groups__item
                        a.social-groups__link(href='https://www.facebook.com/Недвижимость-СОЧИ-АДЛЕР-289135585237844/', target='_blank')
                            span.social-groups__content
                                span.social-groups__icon.social-groups__icon_fb.icon-facebook
                                span.social-groups__text.ff_trajan
                                    | Группа
                                    br
                                    | Facebook
                        a.link-more.fw_medium.mt25(href='https://www.facebook.com/Недвижимость-СОЧИ-АДЛЕР-289135585237844/', target='_blank')
                            | Подписаться 
                            span.link-more__arrow.icon-arrow
                    .col-min-4.social-groups__item
                        a.social-groups__link(href='https://www.instagram.com/kislorod_sochi/', target='_blank')
                            span.social-groups__content
                                span.social-groups__icon.social-groups__icon_fb.icon-instagram
                                span.social-groups__text.ff_trajan
                                    | Группа
                                    br
                                    | Instagram
                        a.link-more.fw_medium.mt25(href='https://www.instagram.com/kislorod_sochi/', target='_blank')
                            | Подписаться 
                            span.link-more__arrow.icon-arrow
