.main-wrapper
    .header
        .header__center.center
            button.header__burger.burger.js-popup-show(data-popup-name='js-popup-menu')
                i.icon-menu.header__menu-icon
            a.header__logo(href='/')
                img.header__pic(src='/images/logo.svg', alt='')
            nav.header__nav
                a.header__link(href='/') главная
                a.header__link.active(href='/catalog') каталог
                a.header__link(href='/about') о компании
                a.header__link(href='/partner') партнеры 
            .header__box
                a.header__phone(href='tel:+78622256505')
                    span.icon-telephone
                    .header__number
                        | +7 
                        span (
                        |  862 
                        span )
                        |  225 65 05
                .header__soc.soc
                    a.soc__item.soc__item_vk.icon-vk(href='https://vk.com/kislorod_sochi', target='_blank')
                    a.soc__item.soc__item_youtube.icon-youtube(href='https://www.youtube.com/channel/UC1gNPoFN8vYKe8sTsEuYOCA', target='_blank')
                    a.soc__item.soc__item_instagram.icon-instagram(href='https://www.instagram.com/kislorod_sochi/', target='_blank')
                    a.soc__item.soc__item_facebook.icon-facebook(href='https://www.facebook.com/%D0%9D%D0%B5%D0%B4%D0%B2%D0%B8%D0%B6%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D1%8C-%D0%A1%D0%9E%D0%A7%D0%98-%D0%90%D0%94%D0%9B%D0%95%D0%A0-289135585237844/', target='_blank')
            button.header__btn.btn.btn_yellow.js-popup-show(data-popup-name='js-popup-call', data-popup-subj='Заявка на обратный звонок с шапки') Обратный звонок

