extends ../layouts/layout.pug

block main
    .main-wrapper
        .main-screen.bg_dark-blue.color_white
            .main
                header.header
                    .header__left
                        .header__menu.color_yelow.js-popup-show(data-popup-name='js-popup-menu')
                            i.icon-menu.header__menu-icon
                            | Меню
                        a.header__logo(href='/index.html')
                            img(src='/images/logo.svg', alt='')
                        .header__desc
                            .font_size12.fade05
                                | Агентство элитной недвижимости 
                                br
                                | в городе Сочи
                    .header__right
                        .header__contacts
                            .header__phone
                                span.header__phone-icon.icon-telephone
                                |  +7 
                                span (
                                |  862 
                                span )
                                |  225 65 05
                            .social
                                a.social__item.social__item_vk.icon-vk(href='https://vk.com/kislorod_sochi', target="_blank")
                                a.social__item.social__item_youtube.icon-youtube(href='https://www.youtube.com/channel/UC1gNPoFN8vYKe8sTsEuYOCA', target="_blank")
                                a.social__item.social__item_instagram.icon-instagram(href='https://www.instagram.com/kislorod_sochi/', target="_blank")
                                a.social__item.social__item_facebook.icon-facebook(href='https://www.facebook.com/%D0%9D%D0%B5%D0%B4%D0%B2%D0%B8%D0%B6%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D1%8C-%D0%A1%D0%9E%D0%A7%D0%98-%D0%90%D0%94%D0%9B%D0%95%D0%A0-289135585237844/', target="_blank")
                        button.button.button_yelow.button_medium.js-popup-show(data-popup-name='js-popup-call', data-popup-subj='Заявка на обратный звонок с шапки') Обратный звонок
                        .header__call-text.font_size12.fade05
                            | Перезвоним 
                            br
                            | за 3 минуты
                .main-screen__content
                    .main-screen__left
                        .desc-screen.fw_medium Подберем вашу
                        .mt25.main-screen__title2
                            h1.font_size54 Идеальную квартиру, на берегу Черного моря
                        .main-screen__title3.mt10
                            h3.font_size22 и поможем  продать старую квартиру
                        .desc.mt30
                            img.desc__icon(src='/images/icons/ribbon.png', alt='')
                            p.font_size14.fade05.fw_medium
                                | Проведем бесплатную оценку 
                                br
                                | для обмена на новую квартиру
                    .main-screen__right
                        .play-box
                            .play.play-box__thumb
                                .play__animate
                                    .play__circle
                                    .play__circle
                                    .play__circle
                                    .play__circle
                                img.play__img(src='/images/main/video-thumb1.jpg', alt='')
                                .play__arrow.icon-play.js-play
                                .play__video
                                    .play__iframe
                                        iframe(src='https://www.youtube.com/embed/AGIZEZJ8NqE?autoplay=1&loop=1&rel=0&mute=1&playlist=AGIZEZJ8NqE', allow='autoplay; encrypted-media;', allowfullscreen='')
                            .fw_medium.font_size14.fade05
                                | Посмотрите короткую 
                                br
                                | видео-презентацию 
                                br
                                | о компании
                        .mt55
                            .font_size14.fw_medium Получите подборку лучших предложений за #{current_month}
                            .year.mt10
                                .font_size120.color_yelow= current_year
                                .year__text.color_yelow
                                    .year__medal.icon-medal
                                    .font_size22.ff_trajan.fw_medium ГОДА
                            .mt50.main-screen__magazine
                                img.main-screen__magazine-img(src='/images/main/magazine.png', alt='')
                                button.button.button_big.button_blue.button_blue1.js-scroll-to(data-href='#quiz')
                                    | Получить подборку предложений
                                    span.button__arrow.icon-arrow.icon-arrow_rotate
            .quiz-screen
                .main
                    img.quiz-screen__dots(src='/images/quiz-screen/dots1.png', alt='')
                    #quiz.head-screen
                        h2.font_size44
                            | Сэкономьте свое время 
                            br
                            | на поиск, подбор 
                            br
                            | и просмотр квартир
                        .mt40
                            p.font_size14.fw_medium
                                | Пройдите короткий тест и получите подборку 
                                br
                                | идеальных вариантов, которые на
                        .quiz-screen__head.mt10
                            .number-text.color_yelow
                                .font_size120.number-text__number 100%
                                .font_size22.ff_trajan.fw_medium
                                    | отвечают 
                                    br
                                    | вашим 
                                    br
                                    | требованиям
                            .desc
                                img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                p.font_size14.fade05.fw_medium
                                    | Осталось 
                                    span.js-count-quiz 5
                                    br
                                    | вопросов из 5
                    .mt60.quiz-scale
                        .quiz-scale__load
                            .quiz-scale__arrow.icon-play
                    .quiz-screen__row.row
                        .col-sm-4.quiz-screen__left
                            .quiz-screen__form0
                                h3.font_size22 Пройдите тест до конца
                                .mt15
                                    p.font_size14.fade05.fw_medium
                                        | И получите подборку лучших квартир, 
                                        br
                                        | пентхаусов и домов  под ваши заппросы
                                img.quiz-screen__key.mt30(src='/images/quiz-screen/key.png', alt='')
                            .quiz-screen__form1.mt50
                                h3.font_size22 Не знаете что ответить?
                                .mt15
                                    p.font_size14.fade05.fw_medium Введите номер телефона, мы поможем подобрать нужный вариант
                                form.ajax-form.mt35(action='/send', method='post', data-parsley-validate='', enctype='multipart/form-data')
                                    input(type='hidden', name='subj', value='Заявка с формы: Не знаете что ответить?')
                                    .input-box
                                        input.input-text.input-text_border(type='tel', name='phone', required='', data-parsley-errors-messages-disabled='', placeholder='+7 (___) ___-__-__')
                                        label.input-box__icon.icon-telephone
                                    button.button.button_big.button_blue.button_blue2.mt30(type='submit', name='call') Помогите выбрать ответ
                        .col-sm-8.quiz-screen__right
                            .quiz
                                .quiz__step
                                    .quiz__head
                                        .quiz__icon-office.icon-office-building.color_yelow
                                        h2.font_size44 Выберите тип недвижимости: 
                                    .quiz__content.mt40
                                        .quiz__answers
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='type', value='Квартира')
                                                    span.quiz-radio__btn Квартира
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='type', value='Пентхаус')
                                                    span.quiz-radio__btn Пентхаус
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='type', value='Дом')
                                                    span.quiz-radio__btn Дом
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='type', value='Аппартаменты')
                                                    span.quiz-radio__btn Аппартаменты
                                            .quiz__column
                                                button.button.button_big.button_blue.button_blue1.js-next-step(disabled='')
                                                    | Следующий вопрос
                                                    span.button__arrow.icon-arrow
                                            .quiz__column
                                                a.quiz__skip.font_size14.fw_medium.color_white.fade05.js-skip-step(href='#') Пропустить
                                .quiz__step
                                    .quiz__head
                                        .quiz__icon-office.icon-office-building.color_yelow
                                        h2.font_size44 Для каких целей планируете покупку? 
                                    .quiz__content.mt40
                                        .quiz__answers
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='target', value='Для проживания')
                                                    span.quiz-radio__btn Для проживания
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='target', value='Для инвестиций')
                                                    span.quiz-radio__btn Для инвестиций
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='target', value='Для сдачи в аренду')
                                                    span.quiz-radio__btn Для сдачи в аренду
                                            .quiz__column
                                                .quiz-radio
                                            .quiz__column
                                                button.button.button_big.button_blue.button_blue1.js-next-step(disabled='')
                                                    | Следующий вопрос
                                                    span.button__arrow.icon-arrow
                                            .quiz__column
                                                a.quiz__skip.font_size14.fw_medium.color_white.fade05.js-skip-step(href='#') Пропустить
                                .quiz__step
                                    .quiz__head
                                        .quiz__icon-office.icon-office-building.color_yelow
                                        h2.font_size44 Какое расположение ЖК рассматриваете? 
                                    .quiz__content.mt40
                                        .quiz__answers
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='location', value='По ближе к морю')
                                                    span.quiz-radio__btn По ближе к морю
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='location', value='Ближе к центру города')
                                                    span.quiz-radio__btn Ближе к центру города
                                            .quiz__column
                                                .quiz-radio
                                            .quiz__column
                                                .quiz-radio
                                            .quiz__column
                                                button.button.button_big.button_blue.button_blue1.js-next-step(disabled='')
                                                    | Следующий вопрос
                                                    span.button__arrow.icon-arrow
                                            .quiz__column
                                                a.quiz__skip.font_size14.fw_medium.color_white.fade05.js-skip-step(href='#') Пропустить
                                .quiz__step
                                    .quiz__head
                                        .quiz__icon-office.icon-office-building.color_yelow
                                        h2.font_size44 На какой бюджет рассчитываете? 
                                    .quiz__content.mt40
                                        .quiz__answers
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='budget', value='До 5 млн')
                                                    span.quiz-radio__btn До 5 млн
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='budget', value='До 10 млн')
                                                    span.quiz-radio__btn До 10 млн
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='budget', value='От 10 млн')
                                                    span.quiz-radio__btn От 10 млн
                                            .quiz__column
                                                .quiz-radio
                                            .quiz__column
                                                button.button.button_big.button_blue.button_blue1.js-next-step(disabled='')
                                                    | Следующий вопрос
                                                    span.button__arrow.icon-arrow
                                            .quiz__column
                                                a.quiz__skip.font_size14.fw_medium.color_white.fade05.js-skip-step(href='#') Пропустить
                                .quiz__step
                                    .quiz__head
                                        .quiz__icon-office.icon-office-building.color_yelow
                                        h2.font_size44 Нужна ли рассрочка или ипотека?
                                    .quiz__content.mt40
                                        .quiz__answers
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='kredit', value='Нужна рассрочка')
                                                    span.quiz-radio__btn Нужна рассрочка
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='kredit', value='Нужна ипотека')
                                                    span.quiz-radio__btn Нужна ипотека
                                            .quiz__column
                                                label.quiz-radio
                                                    input.quiz-radio__input(type='radio', name='kredit', value='Не нужно')
                                                    span.quiz-radio__btn Не нужно
                                            .quiz__column
                                                .quiz-radio
                                            .quiz__column
                                                button.button.button_big.button_blue.button_blue1.js-next-step(disabled='')
                                                    | Следующий вопрос
                                                    span.button__arrow.icon-arrow
                                            .quiz__column
                                                a.quiz__skip.font_size14.fw_medium.color_white.fade05.js-skip-step(href='#') Пропустить
                                .quiz__step
                                    .quiz-form
                                        .desc-screen.fw_medium Все готово. Остался последний шаг
                                        h2.font_size44 Получите подборку лучших объектов г. Сочи на свою почту
                                        .mt20
                                            .font_size22.fw_medium.ff_trajan + БОНУСЫ:
                                        .bonus-list
                                            .bonus-list__item.desc.mt25
                                                img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                                p.font_size14.fade05.fw_medium
                                                    | Личного брокера 
                                                    br
                                                    | по продаже квартиры
                                            .bonus-list__item.desc.mt25
                                                img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                                p.font_size14.fade05.fw_medium
                                                    | Сроки по продаже 
                                                    br
                                                    | старой квартиры
                                            .bonus-list__item.desc.mt25
                                                img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                                p.font_size14.fade05.fw_medium
                                                    | Презентацию 
                                                    br
                                                    | с планировками
                                        .quiz-form__inputs
                                        form.ajax-form(action='/send', method='post', data-parsley-validate='', enctype='multipart/form-data')
                                            input(type='hidden', name='subj', value='Заявка с квиза')
                                            input(type='hidden', name='type', value='Квартира')
                                            input(type='hidden', name='target', value='Для проживания')
                                            input(type='hidden', name='location', value='По ближе к морю')
                                            input(type='hidden', name='budget', value='До 5 млн')
                                            input(type='hidden', name='kredit', value='Нужна рассрочка')
                                            .quiz-form__inputs
                                                .input-box.mt30
                                                    input.input-text.input-text_border(type='text', name='name', required='', data-parsley-errors-messages-disabled='', placeholder='Введите ваше имя')
                                                    label.input-box__icon.icon-user
                                                .input-box.mt30
                                                    input.input-text.input-text_border(type='tel', name='phone', required='', data-parsley-errors-messages-disabled='', placeholder='+7 (___) ___-__-__')
                                                    label.input-box__icon.icon-telephone
                                            .quiz-form__bottom
                                                button.button.button_big.button_blue.button_blue2.mt30(type='submit', name='quiz')
                                                    | Получить подборку
                                                    span.button__arrow.icon-arrow
                                                .polity-box
                                                    .polity-box__dot
                                                    .font_size12.fw_medium.fade05
                                                        | Вы соглашаетесь с условиями 
                                                        br
                                                        | обработки персональных данных 
                                                        br
                                                        a(href='#') ознакомиться
                                .quiz__bottom
                                    .quiz__bottom-item
                                        .quiz__bottom-img
                                            img(src='/images/quiz-screen/calendar.png', alt='')
                                        .quiz__bottom-text
                                            | Все предложения 
                                            br
                                            | актуальны на январь 
                                            br
                                            | 2019 года
                                    .quiz__bottom-item
                                        .quiz__bottom-img
                                            img(src='/images/quiz-screen/docs.png', alt='')
                                        .quiz__bottom-text
                                            | Все объекты 
                                            br
                                            | имеют необходимую 
                                            br
                                            | документацию
                                    .quiz__bottom-item
                                        .quiz__bottom-img
                                            img(src='/images/quiz-screen/work.png', alt='')
                                        .quiz__bottom-text
                                            | Работаем со всеми 
                                            br
                                            | застройщиками региона 
                                            br
                                            | на выгодных условия
                    .quiz-screen__form2.mt40
                        h3.font_size22 Не знаете что ответить?
                        .mt15
                            p.font_size14.fade05.fw_medium Введите номер телефона, мы поможем подобрать нужный вариант
                        form.ajax-form.mt35(action='/send', method='post', data-parsley-validate='', enctype='multipart/form-data')
                            input(type='hidden', name='subj', value='Заявка с формы: Не знаете что ответить?')
                            .input-box
                                input.input-text.input-text_border(type='tel', name='phone', required='', data-parsley-errors-messages-disabled='', placeholder='+7 (___) ___-__-__')
                                label.input-box__icon.icon-telephone
                            button.button.button_big.button_blue.button_blue2.mt30(type='submit', name='call') Помогите выбрать ответ
                    .agency-catalog
                        img.agency-catalog__dots(src='/images/quiz-screen/dots2.png', alt='')
                        .agency-catalog__content
                            .agency-catalog__left
                                h2.font_size44
                                    | В каталоге 
                                    br
                                    | агентства
                                .desc.mt30
                                    img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                    p.font_size14.fade05.fw_medium
                                        | Посмотрите информацию о каждом 
                                        br
                                        | из объектов  и выберите свой 
                                        br
                                        | идеальный вариант
                            .agency-catalog__numbers
                                .number-text.color_yelow
                                    .font_size120.number-text__number 448
                                    .font_size22.ff_trajan.fw_medium
                                        | жилых комплексов
                                        br
                                        | домов и земельных участков
                                //- .number-text.color_yelow
                                    .font_size120.number-text__number 3
                                    .font_size22.ff_trajan.fw_medium
                                        | коттеджных 
                                        br
                                        | поселка
                                .number-text.color_yelow
                                    .font_size120.number-text__number 4
                                    .font_size22.ff_trajan.fw_medium
                                        | точечные застройки 
                                        br
                                        | на берегу моря
        .cases-screen
            .main
                img.cases-screen__dots(src='/images/cases/dots1.png', alt='')
                .cases-screen__row
                    .cases-screen__left
                        .cases-list-container
                            .cases-list
                                .cases-list__item
                                    .cases-list__head1.js-case-show
                                        .cases-list__title.ff_trajan.font_size22 ЖК «Столичный» 
                                        .cases-list__arrow.icon-arrow.icon-arrow_rotate
                                    .cases-list__hide
                                        .cases-list__row
                                            .cases-list__img
                                                img(src='/images/cases/gk1.jpg', alt='')
                                            .cases-list__content
                                                .cases-list__title.ff_trajan.font_size22 ЖК «Столичный» 
                                                .cases-list__options
                                                    .cases-list__option
                                                        .font_size14.fade05.fw_medium 18 квартир
                                                    .cases-list__option
                                                        .font_size14.fade05.fw_medium Площадь: от 59 м2
                                                .cases-list__price.color_yelow
                                                    .font_size22.fw_medium.ff_trajan от 6 700 000 ₽
                                .cases-list__item
                                    .cases-list__head1.js-case-show
                                        .cases-list__title.ff_trajan.font_size22 ЖК «Столичный» 
                                        .cases-list__arrow.icon-arrow.icon-arrow_rotate
                                    .cases-list__hide
                                        .cases-list__row
                                            .cases-list__img
                                                img(src='/images/cases/gk1.jpg', alt='')
                                            .cases-list__content
                                                .cases-list__title.ff_trajan.font_size22 ЖК «Столичный» 
                                                .cases-list__options
                                                    .cases-list__option
                                                        .font_size14.fade05.fw_medium 18 квартир
                                                    .cases-list__option
                                                        .font_size14.fade05.fw_medium Площадь: от 59 м2
                                                .cases-list__price.color_yelow
                                                    .font_size22.fw_medium.ff_trajan от 6 700 000 ₽
                                .cases-list__item
                                    .cases-list__head1.js-case-show
                                        .cases-list__title.ff_trajan.font_size22 ЖК «Столичный» 
                                        .cases-list__arrow.icon-arrow.icon-arrow_rotate
                                    .cases-list__hide
                                        .cases-list__row
                                            .cases-list__img
                                                img(src='/images/cases/gk1.jpg', alt='')
                                            .cases-list__content
                                                .cases-list__title.ff_trajan.font_size22 ЖК «Столичный» 
                                                .cases-list__options
                                                    .cases-list__option
                                                        .font_size14.fade05.fw_medium 18 квартир
                                                    .cases-list__option
                                                        .font_size14.fade05.fw_medium Площадь: от 59 м2
                                                .cases-list__price.color_yelow
                                                    .font_size22.fw_medium.ff_trajan от 6 700 000 ₽
                                .cases-list__item
                                    .cases-list__head1.js-case-show
                                        .cases-list__title.ff_trajan.font_size22 ЖК «Столичный» 
                                        .cases-list__arrow.icon-arrow.icon-arrow_rotate
                                    .cases-list__hide
                                        .cases-list__row
                                            .cases-list__img
                                                img(src='/images/cases/gk1.jpg', alt='')
                                            .cases-list__content
                                                .cases-list__title.ff_trajan.font_size22 ЖК «Столичный» 
                                                .cases-list__options
                                                    .cases-list__option
                                                        .font_size14.fade05.fw_medium 18 квартир
                                                    .cases-list__option
                                                        .font_size14.fade05.fw_medium Площадь: от 59 м2
                                                .cases-list__price.color_yelow
                                                    .font_size22.fw_medium.ff_trajan от 6 700 000 ₽
                                .cases-list__item
                                    .cases-list__head1.js-case-show
                                        .cases-list__title.ff_trajan.font_size22 ЖК «Столичный» 
                                        .cases-list__arrow.icon-arrow.icon-arrow_rotate
                                    .cases-list__hide
                                        .cases-list__row
                                            .cases-list__img
                                                img(src='/images/cases/gk1.jpg', alt='')
                                            .cases-list__content
                                                .cases-list__title.ff_trajan.font_size22 ЖК «Столичный» 
                                                .cases-list__options
                                                    .cases-list__option
                                                        .font_size14.fade05.fw_medium 18 квартир
                                                    .cases-list__option
                                                        .font_size14.fade05.fw_medium Площадь: от 59 м2
                                                .cases-list__price.color_yelow
                                                    .font_size22.fw_medium.ff_trajan от 6 700 000 ₽
                                .cases-list__item
                                    .cases-list__head1.js-case-show
                                        .cases-list__title.ff_trajan.font_size22 ЖК «Столичный» 
                                        .cases-list__arrow.icon-arrow.icon-arrow_rotate
                                    .cases-list__hide
                                        .cases-list__row
                                            .cases-list__img
                                                img(src='/images/cases/gk1.jpg', alt='')
                                            .cases-list__content
                                                .cases-list__title.ff_trajan.font_size22 ЖК «Столичный» 
                                                .cases-list__options
                                                    .cases-list__option
                                                        .font_size14.fade05.fw_medium 18 квартир
                                                    .cases-list__option
                                                        .font_size14.fade05.fw_medium Площадь: от 59 м2
                                                .cases-list__price.color_yelow
                                                    .font_size22.fw_medium.ff_trajan от 6 700 000 ₽
                                .cases-list__item
                                    .cases-list__head1.js-case-show
                                        .cases-list__title.ff_trajan.font_size22 ЖК «Столичный» 
                                        .cases-list__arrow.icon-arrow.icon-arrow_rotate
                                    .cases-list__hide
                                        .cases-list__row
                                            .cases-list__img
                                                img(src='/images/cases/gk1.jpg', alt='')
                                            .cases-list__content
                                                .cases-list__title.ff_trajan.font_size22 ЖК «Столичный» 
                                                .cases-list__options
                                                    .cases-list__option
                                                        .font_size14.fade05.fw_medium 18 квартир
                                                    .cases-list__option
                                                        .font_size14.fade05.fw_medium Площадь: от 59 м2
                                                .cases-list__price.color_yelow
                                                    .font_size22.fw_medium.ff_trajan от 6 700 000 ₽
                                .cases-list__item
                                    .cases-list__head1.js-case-show
                                        .cases-list__title.ff_trajan.font_size22 ЖК «Столичный» 
                                        .cases-list__arrow.icon-arrow.icon-arrow_rotate
                                    .cases-list__hide
                                        .cases-list__row
                                            .cases-list__img
                                                img(src='/images/cases/gk1.jpg', alt='')
                                            .cases-list__content
                                                .cases-list__title.ff_trajan.font_size22 ЖК «Столичный» 
                                                .cases-list__options
                                                    .cases-list__option
                                                        .font_size14.fade05.fw_medium 18 квартир
                                                    .cases-list__option
                                                        .font_size14.fade05.fw_medium Площадь: от 59 м2
                                                .cases-list__price.color_yelow
                                                    .font_size22.fw_medium.ff_trajan от 6 700 000 ₽
                    .cases-screen__right
                        .cases-slider
                            .cases-slider__slide
                                .case
                                    .case__options.color_white
                                        .case__option
                                            .font_size14.fw_medium
                                                | Квартир в продаже: 
                                                br
                                                | 18 квартир
                                        .case__option
                                            .font_size14.fw_medium
                                                | Площадь: 
                                                br
                                                | от 59 м2
                                    .case__row
                                        .case__left.mt30
                                            .case__price.ff_trajan.color_yelow 6 700 000 ₽
                                            .case__content.mt70
                                                .case__title.font_size44.ff_trajan ЖК «Первый»
                                                .desc.mt5
                                                    img.desc__icon(src='/images/icons/ribbon_gold.png', alt='')
                                                    p.font_size14.fw_medium
                                                        | Расположен в центре г. Сочи, на улице Ленина. 
                                                        br
                                                        | До моря 6 км,  до центральной площади 2.5 км. 
                                                        br
                                                        | Дом сдан в январе 2018 года
                                        .case__right.mt40
                                            .play
                                                .play__animate
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                img.play__img(src='/images/cases/play_thumb2.jpg', alt='')
                                                .play__arrow.icon-play.color_white
                                            center.mt25
                                                .font_size14.fw_medium.fade05
                                                    | Посмотрите короткую видео-презентацию 
                                                    br
                                                    | о жилом комплексе
                                    ul.case__bottom.mt35
                                        li.case__bottom-item
                                            .font_size14.fw_medium Премиальный консьерж сервис
                                        li.case__bottom-item
                                            .font_size14.fw_medium Подземная парковка на 214 машин
                                        li.case__bottom-item
                                            .font_size14.fw_medium Видеонаблюдение всей территории
                            .cases-slider__slide
                                .case
                                    .case__options.color_white
                                        .case__option
                                            .font_size14.fw_medium
                                                | Квартир в продаже: 
                                                br
                                                | 18 квартир
                                        .case__option
                                            .font_size14.fw_medium
                                                | Площадь: 
                                                br
                                                | от 59 м2
                                    .case__row
                                        .case__left.mt30
                                            .case__price.ff_trajan.color_yelow 6 700 000 ₽
                                            .case__content.mt70
                                                .case__title.font_size44.ff_trajan ЖК «Первый»
                                                .desc.mt5
                                                    img.desc__icon(src='/images/icons/ribbon_gold.png', alt='')
                                                    p.font_size14.fw_medium
                                                        | Расположен в центре г. Сочи, на улице Ленина. 
                                                        br
                                                        | До моря 6 км,  до центральной площади 2.5 км. 
                                                        br
                                                        | Дом сдан в январе 2018 года
                                        .case__right.mt40
                                            .play
                                                .play__animate
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                img.play__img(src='/images/cases/play_thumb2.jpg', alt='')
                                                .play__arrow.icon-play.color_white
                                            center.mt25
                                                .font_size14.fw_medium.fade05
                                                    | Посмотрите короткую видео-презентацию 
                                                    br
                                                    | о жилом комплексе
                                    ul.case__bottom.mt35
                                        li.case__bottom-item
                                            .font_size14.fw_medium Премиальный консьерж сервис
                                        li.case__bottom-item
                                            .font_size14.fw_medium Подземная парковка на 214 машин
                                        li.case__bottom-item
                                            .font_size14.fw_medium Видеонаблюдение всей территории
                            .cases-slider__slide
                                .case
                                    .case__options.color_white
                                        .case__option
                                            .font_size14.fw_medium
                                                | Квартир в продаже: 
                                                br
                                                | 18 квартир
                                        .case__option
                                            .font_size14.fw_medium
                                                | Площадь: 
                                                br
                                                | от 59 м2
                                    .case__row
                                        .case__left.mt30
                                            .case__price.ff_trajan.color_yelow 6 700 000 ₽
                                            .case__content.mt70
                                                .case__title.font_size44.ff_trajan ЖК «Первый»
                                                .desc.mt5
                                                    img.desc__icon(src='/images/icons/ribbon_gold.png', alt='')
                                                    p.font_size14.fw_medium
                                                        | Расположен в центре г. Сочи, на улице Ленина. 
                                                        br
                                                        | До моря 6 км,  до центральной площади 2.5 км. 
                                                        br
                                                        | Дом сдан в январе 2018 года
                                        .case__right.mt40
                                            .play
                                                .play__animate
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                img.play__img(src='/images/cases/play_thumb2.jpg', alt='')
                                                .play__arrow.icon-play.color_white
                                            center.mt25
                                                .font_size14.fw_medium.fade05
                                                    | Посмотрите короткую видео-презентацию 
                                                    br
                                                    | о жилом комплексе
                                    ul.case__bottom.mt35
                                        li.case__bottom-item
                                            .font_size14.fw_medium Премиальный консьерж сервис
                                        li.case__bottom-item
                                            .font_size14.fw_medium Подземная парковка на 214 машин
                                        li.case__bottom-item
                                            .font_size14.fw_medium Видеонаблюдение всей территории
                            .cases-slider__slide
                                .case
                                    .case__options.color_white
                                        .case__option
                                            .font_size14.fw_medium
                                                | Квартир в продаже: 
                                                br
                                                | 18 квартир
                                        .case__option
                                            .font_size14.fw_medium
                                                | Площадь: 
                                                br
                                                | от 59 м2
                                    .case__row
                                        .case__left.mt30
                                            .case__price.ff_trajan.color_yelow 6 700 000 ₽
                                            .case__content.mt70
                                                .case__title.font_size44.ff_trajan ЖК «Первый»
                                                .desc.mt5
                                                    img.desc__icon(src='/images/icons/ribbon_gold.png', alt='')
                                                    p.font_size14.fw_medium
                                                        | Расположен в центре г. Сочи, на улице Ленина. 
                                                        br
                                                        | До моря 6 км,  до центральной площади 2.5 км. 
                                                        br
                                                        | Дом сдан в январе 2018 года
                                        .case__right.mt40
                                            .play
                                                .play__animate
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                img.play__img(src='/images/cases/play_thumb2.jpg', alt='')
                                                .play__arrow.icon-play.color_white
                                            center.mt25
                                                .font_size14.fw_medium.fade05
                                                    | Посмотрите короткую видео-презентацию 
                                                    br
                                                    | о жилом комплексе
                                    ul.case__bottom.mt35
                                        li.case__bottom-item
                                            .font_size14.fw_medium Премиальный консьерж сервис
                                        li.case__bottom-item
                                            .font_size14.fw_medium Подземная парковка на 214 машин
                                        li.case__bottom-item
                                            .font_size14.fw_medium Видеонаблюдение всей территории
                            .cases-slider__slide
                                .case
                                    .case__options.color_white
                                        .case__option
                                            .font_size14.fw_medium
                                                | Квартир в продаже: 
                                                br
                                                | 18 квартир
                                        .case__option
                                            .font_size14.fw_medium
                                                | Площадь: 
                                                br
                                                | от 59 м2
                                    .case__row
                                        .case__left.mt30
                                            .case__price.ff_trajan.color_yelow 6 700 000 ₽
                                            .case__content.mt70
                                                .case__title.font_size44.ff_trajan ЖК «Первый»
                                                .desc.mt5
                                                    img.desc__icon(src='/images/icons/ribbon_gold.png', alt='')
                                                    p.font_size14.fw_medium
                                                        | Расположен в центре г. Сочи, на улице Ленина. 
                                                        br
                                                        | До моря 6 км,  до центральной площади 2.5 км. 
                                                        br
                                                        | Дом сдан в январе 2018 года
                                        .case__right.mt40
                                            .play
                                                .play__animate
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                img.play__img(src='/images/cases/play_thumb2.jpg', alt='')
                                                .play__arrow.icon-play.color_white
                                            center.mt25
                                                .font_size14.fw_medium.fade05
                                                    | Посмотрите короткую видео-презентацию 
                                                    br
                                                    | о жилом комплексе
                                    ul.case__bottom.mt35
                                        li.case__bottom-item
                                            .font_size14.fw_medium Премиальный консьерж сервис
                                        li.case__bottom-item
                                            .font_size14.fw_medium Подземная парковка на 214 машин
                                        li.case__bottom-item
                                            .font_size14.fw_medium Видеонаблюдение всей территории
                            .cases-slider__slide
                                .case
                                    .case__options.color_white
                                        .case__option
                                            .font_size14.fw_medium
                                                | Квартир в продаже: 
                                                br
                                                | 18 квартир
                                        .case__option
                                            .font_size14.fw_medium
                                                | Площадь: 
                                                br
                                                | от 59 м2
                                    .case__row
                                        .case__left.mt30
                                            .case__price.ff_trajan.color_yelow 6 700 000 ₽
                                            .case__content.mt70
                                                .case__title.font_size44.ff_trajan ЖК «Первый»
                                                .desc.mt5
                                                    img.desc__icon(src='/images/icons/ribbon_gold.png', alt='')
                                                    p.font_size14.fw_medium
                                                        | Расположен в центре г. Сочи, на улице Ленина. 
                                                        br
                                                        | До моря 6 км,  до центральной площади 2.5 км. 
                                                        br
                                                        | Дом сдан в январе 2018 года
                                        .case__right.mt40
                                            .play
                                                .play__animate
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                img.play__img(src='/images/cases/play_thumb2.jpg', alt='')
                                                .play__arrow.icon-play.color_white
                                            center.mt25
                                                .font_size14.fw_medium.fade05
                                                    | Посмотрите короткую видео-презентацию 
                                                    br
                                                    | о жилом комплексе
                                    ul.case__bottom.mt35
                                        li.case__bottom-item
                                            .font_size14.fw_medium Премиальный консьерж сервис
                                        li.case__bottom-item
                                            .font_size14.fw_medium Подземная парковка на 214 машин
                                        li.case__bottom-item
                                            .font_size14.fw_medium Видеонаблюдение всей территории
                            .cases-slider__slide
                                .case
                                    .case__options.color_white
                                        .case__option
                                            .font_size14.fw_medium
                                                | Квартир в продаже: 
                                                br
                                                | 18 квартир
                                        .case__option
                                            .font_size14.fw_medium
                                                | Площадь: 
                                                br
                                                | от 59 м2
                                    .case__row
                                        .case__left.mt30
                                            .case__price.ff_trajan.color_yelow 6 700 000 ₽
                                            .case__content.mt70
                                                .case__title.font_size44.ff_trajan ЖК «Первый»
                                                .desc.mt5
                                                    img.desc__icon(src='/images/icons/ribbon_gold.png', alt='')
                                                    p.font_size14.fw_medium
                                                        | Расположен в центре г. Сочи, на улице Ленина. 
                                                        br
                                                        | До моря 6 км,  до центральной площади 2.5 км. 
                                                        br
                                                        | Дом сдан в январе 2018 года
                                        .case__right.mt40
                                            .play
                                                .play__animate
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                img.play__img(src='/images/cases/play_thumb2.jpg', alt='')
                                                .play__arrow.icon-play.color_white
                                            center.mt25
                                                .font_size14.fw_medium.fade05
                                                    | Посмотрите короткую видео-презентацию 
                                                    br
                                                    | о жилом комплексе
                                    ul.case__bottom.mt35
                                        li.case__bottom-item
                                            .font_size14.fw_medium Премиальный консьерж сервис
                                        li.case__bottom-item
                                            .font_size14.fw_medium Подземная парковка на 214 машин
                                        li.case__bottom-item
                                            .font_size14.fw_medium Видеонаблюдение всей территории
                            .cases-slider__slide
                                .case
                                    .case__options.color_white
                                        .case__option
                                            .font_size14.fw_medium
                                                | Квартир в продаже: 
                                                br
                                                | 18 квартир
                                        .case__option
                                            .font_size14.fw_medium
                                                | Площадь: 
                                                br
                                                | от 59 м2
                                    .case__row
                                        .case__left.mt30
                                            .case__price.ff_trajan.color_yelow 6 700 000 ₽
                                            .case__content.mt70
                                                .case__title.font_size44.ff_trajan ЖК «Первый»
                                                .desc.mt5
                                                    img.desc__icon(src='/images/icons/ribbon_gold.png', alt='')
                                                    p.font_size14.fw_medium
                                                        | Расположен в центре г. Сочи, на улице Ленина. 
                                                        br
                                                        | До моря 6 км,  до центральной площади 2.5 км. 
                                                        br
                                                        | Дом сдан в январе 2018 года
                                        .case__right.mt40
                                            .play
                                                .play__animate
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                    .play__circle
                                                img.play__img(src='/images/cases/play_thumb2.jpg', alt='')
                                                .play__arrow.icon-play.color_white
                                            center.mt25
                                                .font_size14.fw_medium.fade05
                                                    | Посмотрите короткую видео-презентацию 
                                                    br
                                                    | о жилом комплексе
                                    ul.case__bottom.mt35
                                        li.case__bottom-item
                                            .font_size14.fw_medium Премиальный консьерж сервис
                                        li.case__bottom-item
                                            .font_size14.fw_medium Подземная парковка на 214 машин
                                        li.case__bottom-item
                                            .font_size14.fw_medium Видеонаблюдение всей территории
        .catalog-screen.mt70
            img.catalog-screen__sokol(src='/images/cases/gk_sokol.png', alt='')
            .main
                img.catalog-screen__dots(src='/images/cases/dots2.png', alt='')
                .head-screen
                    .catalog-screen__top
                        .catalog-screen__headline
                            h2.font_size44
                                | Скачайте презентацию 
                                br
                                | с лучшими вариантами объектов недвижимости
                            .mt20
                                p.ff_trajan.font_size22 Вы подробно ознакомитесь с рынком  недвижимости Сочи всего за 10-15 минут
                        .catalog-screen__desc
                            .desc.mt5
                                img.desc__icon(src='/images/icons/ribbon_gold.png', alt='')
                                p.font_size14.fw_medium.fade05
                                    | Вы увидите актуальную информацию по каждому жилому комплексу и сможете их сравнить
                    .catalog-screen__center
                        .catalog-screen__form.form-box.form-box_white
                            .form-box__title.ff_trajan.font_size22
                                | Скачать презентацию 
                                br
                                | по всем ЖК
                            form.ajax-form(action='/send', method='post', data-parsley-validate='', enctype='multipart/form-data')
                                input(type='hidden', name='subj', value='Заявка: Скачать презентацию по всем ЖК')
                                .input-box.mt30
                                    input.input-text.input-text_fill(type='tel', name='phone', required='', data-parsley-errors-messages-disabled='', placeholder='+7 (___) ___-__-__')
                                    label.input-box__icon.icon-telephone
                                .input-box.mt30
                                    input.input-text.input-text_fill(type='email', name='email', required='', data-parsley-errors-messages-disabled='', placeholder='mail@mail.com')
                                    label.input-box__icon.icon-message
                                .catalog-screen__button
                                    img.catalog-screen__level(src='/images/cases/level1000.png', alt='')
                                    button.button.button_big.button_blue.button_blue2.mt30(type='submit', name='call')
                                        | Скачать презентацию
                                        span.button__arrow.icon-arrow
                                .polity-box.mt35
                                    .polity-box__dot
                                    .font_size12.fw_medium.fade05
                                        | Вы соглашаетесь с условиями 
                                        br
                                        | обработки персональных данных 
                                        br
                                        a(href='#') ознакомиться
                        .catalog-screen__catalog-column
                            .sea-catalog
                                .play
                                    .play__animate
                                        .play__circle
                                        .play__circle
                                        .play__circle
                                        .play__circle
                                    a.sea-catalog__icon.icon-book(href='#', target='_blank')
                                center.mt20
                                    .font_size14.color_white.fw_medium
                                        | Посмотреть каталог 
                                        br
                                        | на сайте в онлайне
        .kredit-screen
            .main
                img.kredit-screen__dots(src='/images/dots_kredit.png', alt='')
                .kredit-screen__headline
                    .desc-screen.fw_medium Поможем в офомлении ипотеки
                    .mt20
                        h2.font_size54 Не только подберем квартиру, но и поможем приобрести ее 
                .kredit-screen__row
                    .kredit-screen__left.mt40
                        .kredit-list-container
                            .kredit-list
                                .kredit-list__item
                                    .kredit-list__logo
                                        img(src='/images/vtb.jpg', alt='')
                                .kredit-list__item
                                    .kredit-list__logo
                                        img(src='/images/sberbank.png', alt='')
                                .kredit-list__item
                                    .kredit-list__logo
                                        img(src='/images/raifaizen.jpg', alt='')
                                .kredit-list__item
                                    .kredit-list__logo
                                        img(src='/images/tinkoff-bank-general-logo-6.png', alt='')
                                .kredit-list__item
                                    .kredit-list__logo
                                        img(src='/images/logo-alfabank.png', alt='')
                    .kredit-screen__right
                        .font_size14.fw_medium Вероятность одобрения ипотеки
                        .number-text.mt10
                            .font_size120.number-text__number.color_yelow 96%
                            .font_size22.ff_trajan.fw_medium
                                | одобрение ипотеки 
                                br
                                | несмотря на плохую 
                                br
                                | кредитную историю
                        .desc.mt5
                            img.desc__icon(src='/images/icons/ribbon_gold.png', alt='')
                            p.font_size14.fw_medium
                                | Деньгами можно распорядиться более выгодно, 
                                br
                                | чем сразу вкладывать их в квартиру
                        .kredit-economy.mt40
                            .kredit-economy__img
                                img(src='/images/money_kredit.png', alt='')
                            .kredit-economy__text
                                .font_size22.ff_trajan.fw_medium Вы экономите деньги благодаря партнерским отношениям между «Кислород» и банками
                        ul.kredit-service.mt15
                            li.kredit-service__item
                                .font_size14.fw_medium Снижение на 0,5-1,0% процентных ставок
                            li.kredit-service__item
                                .font_size14.fw_medium Отмена запрета на досрочное погашение
                            li.kredit-service__item
                                .font_size14.fw_medium Согласование сложных ситуаций с банками
                        .kredit-bottom.mt60
                            .kredit-bottom__img
                                img(src='/images/key_kredit.png', alt='')
                            .kredit-bottom__button
                                button.button.button_big.button_blue.button_blue2.js-popup-show(data-popup-name='js-popup-kredit')
                                    | Узнать вероятность одобрения ипотеки
                                    span.button__arrow.icon-arrow
                                .mt30
                                    .font_size12.fw_medium.fade05
                                        | Пройдите простой тест и узнайте вероятность одобрения ипотеки банками-партнерами онлайн за 2 минуты
        .bg_dark-blue
            .apartment-screen
                .main
                    img.apartment-screen__dots(src='/images/apartment/dots.png', alt='')
                    .apartment-screen__top
                        .apartment-screen__headline
                            h2.font_size44 Поменяем вашу квартиру на новую
                            .mt15
                                p.font_size22.ff_trajan
                                    | Если перед покупкой нового жилья вам необходимо продать предыдущую квартиру, мы справимся с этим.
                        //- .apartment-screen__desc
                            .font_size14.fw_medium
                                | Мы хорошо умеем продавать вторичную недвижимость. 
                                br
                                | За последние 5 лет продали
                            .mt15.color_yelow
                                span.font_size120 3000
                                span.font_size22.fw_medium.ff_trajan.font_upper квартир
                            .mt35
                                a.fw_medium.link-more(href='#')
                                    | Узнать о продаже вторичной недвижимости 
                                    span.icon-arrow.link-more__arrow
                    .before-after.mt55
                        .before-after__area.js-before-after
                            .before-after__preview.before-after__preview_before
                                img(src='/images/apartment/after_img.jpg', alt='')
                                img(src='/images/apartment/after_img_m.jpg', alt='')
                            .before-after__preview.before-after__preview_after.anim.js-after
                                .before-after__img-wrap
                                    img.js-after-img(src='/images/apartment/before_img.jpg', alt='')
                                    img.js-after-img(src='/images/apartment/before_img_m.jpg', alt='')
                                .before-after__line
                                    .before-after__mouse
                            .before-after__title
                                .font_size22.ff_trajan ЖК «Метрополь»
                    .apartment-screen__bottom.mt50
                        .desc
                            img.desc__icon(src='/images/icons/ribbon.png', alt='')
                            p.font_size14.fade05.fw_medium
                                | По программе 
                                br
                                | Трейд-Ин
            .payments-screen
                .main
                    .payments-screen__head
                        img.payments-screen__coin(src='/images/apartment/rub_coin.png', alt='')
                        .payments-screen__title
                            h2.font_size44 Используйте любые виды оплаты для покупки квартиры
                    .payments-list
                        .payments-list__item.payments-list__m-flex
                            .payments-list__icon.color_yelow.icon-wallet
                            .payments-list__title.ff_trajan
                                | Наличные 
                                br
                                | Получите скидку 
                                br.hide
                                | до 10%
                        .payments-list__item.payments-list__item_kredit
                            .payments-list__head.payments-list__m-flex
                                .payments-list__icon.color_yelow.icon-residential
                                .payments-list__title.ff_trajan
                                    | Ипотека 
                                    br
                                    | Получите выгоду 1-2%
                            .payments-list__bottom.mt30
                                .payments-list__desc.mt5
                                    .font_size14.fw_medium.fade05 Работаем с 20 банками
                                .payments-list__desc.mt5
                                    .font_size14.fw_medium.fade05 Оформим за 24 часа
                                .payments-list__desc.mt5
                                    .font_size14.fw_medium.fade05 По 2-м документам
                        .payments-list__item.payments-list__m-flex
                            .payments-list__icon.color_yelow.icon-government
                            .payments-list__title.ff_trajan
                                | Материнский 
                                br.hide
                                | и военный капитал 
                                br
                                | Поможем получить
                        .payments-list__item.payments-list__m-flex
                            .payments-list__icon.payments-list__icon_funds.color_yelow.icon-funds
                            .payments-list__title.ff_trajan
                                | Рассрочка 
                                br
                                | Без первоначального взноса
            .consultation-screen
                .main
                    img.consultation-screen__dots(src='/images/consultation_dots.svg', alt='')
                    .consultation-screen__content
                        h2.font_size44 Проведем бесплатную оценку вашей квартиры для обмена на новую
                        .mt20
                            p.font_size22.ff_trajan.fw_medium.font_upper Так же вы получите:
                        .consultation-list
                            .consultation-list__item
                                .desc
                                    img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                    p.font_size14.fade05.fw_medium
                                        | Личного брокера 
                                        br
                                        | по продаже квартиры
                            .consultation-list__item
                                .desc
                                    img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                    p.font_size14.fade05.fw_medium
                                        | Сроки по продаже 
                                        br
                                        | старой квартиры
                            .consultation-list__item
                                .desc
                                    img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                    p.font_size14.fade05.fw_medium
                                        | Презентацию 
                                        br
                                        | с планировками
                        .consultation-screen__form.form-box.form-box_dark
                            .form-box__title.ff_trajan.font_size22 Менеджер перезвонит вам чтобы уточнить подробности по квартире
                            form.ajax-form(action='/send', method='post', data-parsley-validate='', enctype='multipart/form-data')
                                input(type='hidden', name='subj', value='Заявка: Записаться на аудит')
                                .input-box.mt30
                                    input.input-text.input-text_border(type='tel', name='phone', required='', data-parsley-errors-messages-disabled='', placeholder='+7 (___) ___-__-__')
                                    label.input-box__icon.icon-telephone
                                button.button.button_big.button_blue.button_blue2.mt30(type='submit', name='call')
                                    | Записаться на аудит
                                    span.button__arrow.icon-arrow
                                .polity-box.mt35
                                    .polity-box__dot
                                    .font_size12.fw_medium.fade05
                                        | Вы соглашаетесь с условиями 
                                        br
                                        | обработки персональных данных 
                                        br
                                        a(href='#') ознакомиться
        .main
            .rating-screen
                .rating-screen__rating
                    img(src='/images/rating/rating.png', alt='')
                .head-screen
                    img.rating-screen__house(src='/images/rating/house.png', alt='')
                    h2.font_size44
                        | Стоимость недвижимости 
                        br
                        | в г. Сочи  выросла на 51% 
                        br
                        | за последние 3 года
                    .mt20
                        p.font_size22.ff_trajan.font_upper
                            | И будет рости за счет развития 
                            br
                            | региона еще ближайшие 3-5 лет
                    .desc.mt40
                        img.desc__icon(src='/images/icons/ribbon_gold.png', alt='')
                        p.font_size14.fade05.fw_medium
                            | Все это время ее можно 
                            br
                            | сдавать в аренду и получать 
                            br
                            | дополнительную прибыль
                .rating-screen__bottom
                    .rating-screen__profit
                        .font_size14.fw_medium Через 5 лет вы сможете продать квартиру и заработать до
                        .mt20.rating-screen__persent
                            .font_size120.color_yelow 50%
                        .mt5
                            .font_size22.ff_trajan.fw_medium
                                | от стоимости, 
                                br
                                | дополнительно
                        //- button.button.button_big.button_blue.button_blue2.mt30
                            | Скачать презентацию
                            span.button__arrow.icon-arrow
            .certification-screen
                h2.font_size44
                    | Деятельность компании 
                    br
                    | подтверждена всеми необходимыми 
                    br
                    | лицензиями и допусками
                .certification-screen__row.mt20
                    .certification-screen__left
                        .font_size22.ff_trajan
                            | В Краснодарском крае вопрос 
                            br
                            | с документацией стоит особенно остро.
                    .certification-screen__right
                        .desc
                            img.desc__icon(src='/images/icons/ribbon_gold.png', alt='')
                            p.font_size14.fade05.fw_medium
                                | Мы заранее заботимся о спокойствии 
                                br
                                | наших клиентов и получаем все разрешительны документы еще до начала продаж и сдачи объекта
                .certification-slider.mt70
                    .certification-slider__slide
                        .certificat
                            img.certificat__img(src='/images/certification/scan1.jpg', alt='')
                            .certificat__caption
                                .font_size14.fw_medium Сертификат официального партнера ПАО "Сбербанк"
                            a.fancybox.certificat__zoom(href='/images/certification/scan1_big.jpg', rel='certification')
                                span.certificat__zoom-icon
                    .certification-slider__slide
                        .certificat
                            img.certificat__img(src='/images/certification/scan2.jpg', alt='')
                            .certificat__caption
                                .font_size14.fw_medium Сертификат "Система обучения сотрудников Профессионал". Технология Евгения Котова
                            a.fancybox.certificat__zoom(href='/images/certification/scan2_big.jpg', rel='certification')
                                span.certificat__zoom-icon
                    .certification-slider__slide
                        .certificat
                            img.certificat__img(src='/images/certification/scan3.jpg', alt='')
                            .certificat__caption
                                .font_size14.fw_medium Сертификат "Система обучения сотрудников Профессионал". Технология Евгения Котова
                            a.fancybox.certificat__zoom(href='/images/certification/scan3_big.jpg', rel='certification')
                                span.certificat__zoom-icon
                    //- .certification-slider__slide
                        .certificat
                            img.certificat__img(src='/images/certification/scan2.jpg', alt='')
                            .certificat__caption
                                .font_size14.fw_medium Лицензия на осуществление строительной деятельности №23913491-07
                            a.fancybox.certificat__zoom(href='/images/certification/scan1.jpg', rel='certification')
                                span.certificat__zoom-icon
                    //- .certification-slider__slide
                        .certificat
                            img.certificat__img(src='/images/certification/scan3.jpg', alt='')
                            .certificat__caption
                                .font_size14.fw_medium Лицензия на осуществление строительной деятельности №23913491-07
                            a.fancybox.certificat__zoom(href='/images/certification/scan1.jpg', rel='certification')
                                span.certificat__zoom-icon
                    //- .certification-slider__slide
                        .certificat
                            img.certificat__img(src='/images/certification/scan1.jpg', alt='')
                            .certificat__caption
                                .font_size14.fw_medium Лицензия на осуществление строительной деятельности №23913491-07
                            a.fancybox.certificat__zoom(href='/images/certification/scan1.jpg', rel='certification')
                                span.certificat__zoom-icon
                    //- .certification-slider__slide
                        .certificat
                            img.certificat__img(src='/images/certification/scan2.jpg', alt='')
                            .certificat__caption
                                .font_size14.fw_medium Лицензия на осуществление строительной деятельности №23913491-07
                            a.fancybox.certificat__zoom(href='/images/certification/scan1.jpg', rel='certification')
                                span.certificat__zoom-icon
                    //- .certification-slider__slide
                        .certificat
                            img.certificat__img(src='/images/certification/scan3.jpg', alt='')
                            .certificat__caption
                                .font_size14.fw_medium Лицензия на осуществление строительной деятельности №23913491-07
                            a.fancybox.certificat__zoom(href='/images/certification/scan1.jpg', rel='certification')
                                span.certificat__zoom-icon
                //- .certification-screen__bottom.mt40
                    .certification-screen__bottom-text
                        .font_size12.fw_medium.fade05
                            | Посмотрите полный пакет 
                            br
                            | разрешительной документации
                    a.button.button_big.button_blue.button_blue2.mt30(href='#')
                        | Посмотреть все документы
                        span.button__arrow.icon-arrow
                    img.certification-screen__folder(src='/images/certification/folder.png', alt='')
        .director-screen
            .main
                img.director-screen__dots(src='/images/director/dots.svg', alt='')
                img.director-screen__director(src='/images/director/director.png', alt='')
                .head-screen
                    img.director-screen__gold(src='/images/director/gold.png', alt='')
                    h2.font_size44
                        | …За 10 лет мы построили и сдали больше 40 000 м
                        sup 2
                        |  жилой площади
                    .desc.mt20
                        img.desc__icon(src='/images/icons/ribbon_gold.png', alt='')
                        p.font_size14.fade05.fw_medium
                            | Мы знаем, что разрешительная документация 
                            br
                            | для застройщика — это больная тема в нашем регионе. 
                            br
                            | Мы тщательно проверяем объект прежде, чем предложить его вам
                    .director-screen__info.mt70
                        .font_size22.fw_medium.ff_trajan
                            | Скрипко Иван 
                            br
                            | Борисович
                        .mt15
                            .font_size14.fw_medium Руководитель компании более
                        .number-text.mt10
                            .font_size120.number-text__number.color_yelow 15
                            .font_size22.ff_trajan.fw_medium
                                br
                                | лет 
                                br
                                | в строительстве
                        //- a.button.button_big.button_blue.button_blue2(href='#')
                            | Перейти 
                            br
                            | на страницу 
                            br
                            | о компании 
                            span.icon-right-arrow
        .experts-screen
            .main
                .experts-screen__dots
                    img(src='/images/consultation_dots.svg', alt='')
                .experts-screen__row
                    .experts-screen__left
                        .expert-box
                            .expert-box__top
                                .font_size12.fw_medium.fade05
                                    | Лучший менеджер по работе 
                                    br
                                    | с клиентами в ноябре 
                                    br
                                    | 2018 года
                            .expert-box__center
                                .font_size22.ff_trajan.font_upper.fw_medium
                                    | Балынская
                                    br
                                    | Александра
                                .mt15
                                    .font_size14.fw_medium
                                        | Менеджер по работе 
                                        br
                                        | с клиентами
                            .expert-box__foto
                                img(src='/images/experts/woman.png', alt='')
                    .experts-screen__right
                        h2.font_size44 Задайте вопрос нашему лучшему специалисту
                        .mt20
                            p.fw_medium.font_size22.font_upper.ff_trajan Так же вы получите:
                        .consultation-list
                            .consultation-list__item
                                .desc
                                    img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                    p.font_size14.fade05.fw_medium
                                        | Презентацию 
                                        br
                                        | с каталогом 
                                        br
                                        | недвижимости
                            .consultation-list__item
                                .desc
                                    img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                    p.font_size14.fade05.fw_medium
                                        | Условия 
                                        br
                                        | оформления 
                                        br
                                        | рассрочки
                            .consultation-list__item
                                .desc
                                    img.desc__icon(src='/images/icons/ribbon.png', alt='')
                                    p.font_size14.fade05.fw_medium
                                        | Личного менеджера 
                                        br
                                        | по подбору 
                                        br
                                        | квартиры
                        .consultation-screen__form.form-box.form-box_dark
                            .z-index2
                                .form-box__title.ff_trajan.font_size22 Как вам удобно получить консультацию и материалы?
                                form.ajax-form(action='/send', method='post', data-parsley-validate='', enctype='multipart/form-data')
                                    input(type='hidden', name='subj', value='Заявка: Задать вопрос специалисту')
                                    .message-list.mt30
                                        .message-list__item
                                            label.message-checkbox
                                                input.message-checkbox__input(type='radio', value='WhatsApp', name='message', checked='')
                                                span.message-checkbox__btn
                                                    span.message-checkbox__icon.icon-whatsapp
                                                span.message-checkbox__text-wrap
                                                    span.message-checkbox__text WhatsApp
                                        .message-list__item
                                            label.message-checkbox
                                                input.message-checkbox__input(type='radio', value='Viber', name='message')
                                                span.message-checkbox__btn
                                                    span.message-checkbox__icon.message-checkbox__icon_viber.icon-viber
                                                span.message-checkbox__text-wrap
                                                    span.message-checkbox__text Viber
                                        .message-list__item
                                            label.message-checkbox
                                                input.message-checkbox__input(type='radio', value='Telegram', name='message')
                                                span.message-checkbox__btn
                                                    span.message-checkbox__icon.icon-telegram
                                                span.message-checkbox__text-wrap
                                                    span.message-checkbox__text Telegram
                                        .message-list__item
                                            label.message-checkbox
                                                input.message-checkbox__input(type='radio', value='E-mail', name='message')
                                                span.message-checkbox__btn
                                                    span.message-checkbox__icon.message-checkbox__icon_mail.icon-message
                                                span.message-checkbox__text-wrap
                                                    span.message-checkbox__text E-mail
                                        .message-list__item
                                            label.message-checkbox
                                                input.message-checkbox__input(type='radio', value='Телефон', name='message')
                                                span.message-checkbox__btn
                                                    span.message-checkbox__icon.message-checkbox__icon_phone.icon-telephone
                                                span.message-checkbox__text-wrap
                                                    span.message-checkbox__text Телефон
                                    .input-box
                                        input.input-text.input-text_border(type='tel', name='phone', required='', data-parsley-errors-messages-disabled='', placeholder='+7 (___) ___-__-__')
                                        label.input-box__icon.icon-telephone
                                    .input-box.mt30
                                        input.input-text.input-text_border(type='email', name='email', required='', data-parsley-errors-messages-disabled='', placeholder='mail@mail.com')
                                        label.input-box__icon.icon-message
                                    button.button.button_big.button_blue.button_blue2.mt30(type='submit', name='ask')
                                        | Задать вопрос специалисту
                                        span.button__arrow.icon-arrow
                                    .polity-box.mt35
                                        .polity-box__dot
                                        .font_size12.fw_medium.fade05
                                            | Вы соглашаетесь с условиями 
                                            br
                                            | обработки персональных данных 
                                            br
                                            a(href='#') ознакомиться
        include ../include/popup.pug                                        
        include ../include/footer.pug