
extends ../layouts/layout.pug

block main
  .cart.js-page#cartvue
    include ../include/header.pug
    .cart__center.center
      .cart__head
        ul.breadcrumbs.cart__breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link(href='#') Главная
          li.breadcrumbs__item
            a.breadcrumbs__link(href='/catalog') Каталог
          li.breadcrumbs__item {{ building.sBuildingTitle }}
        h1.cart__title {{ building.sBuildingTitle }}
        .cart__tabs
          a.cart__tabs-link.cart__tabs-link_active(href='#') Общая информация
          a.cart__tabs-link(href='#') На карте
          a.cart__tabs-link(href='#') Квартиры и цены
          a.cart__tabs-link(href='#') Ипотека
          a.cart__tabs-link(href='#') Ход строительства
      .js-tabs-slider.cart__container
        .cart__item
          .cart-info.js-catalog-parent
            .cart-info__top ID объекта: K-1225     |     Опубликован 25.05.2019     |     Просмотров 357
            .cart-info__row
              .cart-info__gallery
                .cart-info__slider.js-catalog-slider
                  .cart-info__slide
                    img(style="width:100%" v-if="building.sBuildingCoverSmall != null" :src="'/images/building/' + building.sBuildingCoverSmall", alt='')
                .cart__status.cart__status_left.js-catalog-status 1/12
              .cart-info__content
                button.prod__favorite(v-bind:id='building.iBuildingID', onclick = 'toggleFavourite(this)')
                .cart-info__section.cart-info__head
                  .cart-info__column
                    .cart-info__name
                      | площадь 
                      br
                      | (от, м2):
                    .cart-info__price {{ building.fPlanAreaMin }}
                  .cart-info__column
                    .cart-info__name
                      | Цена 
                      br
                      | (от, руб.):
                    .cart-info__price {{building.iApartamentPriceMin}}
                .cart-info__section
                  .cart-info__column
                    .cart-info__name этажность:
                  .cart-info__column
                    .cart-info__text 19
                .cart-info__section
                  .cart-info__column
                    .cart-info__name статус дома:
                  .cart-info__column
                    .cart-info__text {{ building.sBuildingStatus }}
                .cart-info__section
                  .cart-info__column
                    .cart-info__name микрорайон:
                  .cart-info__column
                    .cart-info__text {{ building.sBuildingDistrict }}
                .cart-info__section
                  .cart-info__column
                    .cart-info__name до моря:
                  .cart-info__column
                    .cart-info__text {{ building.fBuildingDistance }}м
                .cart-info__section
                  .cart-info__column
                    .cart-info__name тип дома:
                  .cart-info__column
                    .cart-info__text {{ building.sBuildingType }}
                a.cart-info__more(href='#')
                  | Посмотреть планировки 
                  i.icon-arrow.cart-info__arrow
                button.button.button_yelow.button_medium.js-popup-show(data-popup-name='js-popup-call', data-popup-subj='Заявка на консультацию') Записаться на просмотр
            ul.catalog-slider__bottom.mt35
              li.catalog-slider__bottom-item(v-for="adv in building.Advantages")
                .font_size14.fw_medium
                  | {{ adv.sAdvantageTitle }}
              .document-list.row
                .document-list__item.col-sm-5
                  a.document-list__link(href='#')
                    span.document-list__icon.js-svg(data-svg-src='/images/icons/file.svg')
                    span.document-list__info
                      span.document-list__name Приказ о присвоении адреса
                      span.document-list__format pdf 1.59 mb
                .document-list__item.col-sm-7
                  a.document-list__link(href='#')
                    span.document-list__icon.js-svg(data-svg-src='/images/icons/file.svg')
                    span.document-list__info
                      span.document-list__name Разрешение на ввод объекта в эксплуатацию
                      span.document-list__format pdf 1.59 mb

        .cart__item
          .cart-map
            #map-object.cart-map__map
            .cart-map__content
              .cart-map__info «Не знаете как добраться? — Не проблема. Встретим и довезем.»
              .cart-map__avatar
                img(src='/images/avatar.png', alt='')
              .cart-map__name
                | вдовин
                br
                | олег
              .cart-map__work
                | Эксперт по 
                br
                | недвижимости
              button.button.button_yelow.button_medium.js-popup-show(data-popup-name='js-popup-call', data-popup-subj='Заявка на консультацию') Записаться на просмотр
        .cart__item
          .object-slide
            .object-slide__head
              .object-slide__title.ff_trajan {{building.apartmentCount}} {{building.apartmentCountString}} и {{building.plansCount}} {{building.plansCountString}}
              .object-slide__desc.mt10
                .desc
                  img.desc__icon(alt='', src='/images/icons/ribbon_gold.png')
                  p.font_size14.fw_medium
                    | Посмотрите планировки
                    br
                    |                                 и цены на квартиры и пентхаусы
            .object-container.mt40
              .object-container__left
                .object-category.ff_trajan
                  a.object-category__item(
                      href='#'
                      v-for="(plan, index) in building.plans"
                      v-bind:class="{ 'object-category__item_active': index == 0 }") {{ plan.sPlanName }}
              .object-container__right
                .object-slider
                  .object-slider__slide(v-for="(plan, index) in building.plans")
                    .object-list.row
                      .object-list__item.col-sm-4.col-min-6(v-for="(apartament, index2) in plan.apartaments")
                        .object-list__preview.js-object-show
                          .object-list__thumb
                            img(:src="'/images/building/plan/' + plan.plan_images[0].sPlanImage", alt='')
                            .object-list__zoom.browse-button
                              .icon-search
                          .object-list__options.mt20
                            .object-list__option
                              | Квартира
                              br
                              | № {{ apartament.iApartamentNum }}
                            .object-list__option
                              | Площадь:
                              br
                              | {{ plan.fPlanArea }} м
                              sup 2
                          .object-list__price.color_yelow.ff_trajan {{ apartament.iApartamentPrice }} ₽
                          .object-popup
                            .object-popup__close.icon-close
                            .object-popup__row
                              .object-popup__left
                                .object-popup__img-big
                                  img(:src="'/images/building/plan/' + plan.plan_images[0].sPlanImage", alt='')
                                .object-popup__gallery.mt20(v-if="plan.plan_images.length > 1")
                                  a.object-popup__gallery-item
                                    img(:src="'/images/building/plan/' + plan.plan_images[0].sPlanImage", alt='')
                                  //- a.object-popup__gallery-item
                                    img(src='/images/catalog/object.jpg', alt='')
                                  //- a.object-popup__gallery-item
                                    img(src='/images/catalog/object.jpg', alt='')
                              .object-popup__right
                                .object-popup__title.ff_trajan Запишитесь на просмотр квартиры № {{ apartament.iApartamentNum }}
                                .mt10
                                  .font_size14.fw_medium Площадь: {{ plan.fPlanArea }} кв.м
                                .object-popup__price.color_yelow.ff_trajan {{ apartament.iApartamentPrice }} ₽
                                form.ajax-form(action='/send', method='post', data-parsley-validate='', enctype='multipart/form-data')
                                  input(type='hidden', name='subj', value='Записаться на просмотр квартиры № 84')
                                  .input-box
                                    input.input-text.input-text_fill(type='tel', name='phone', required='', data-parsley-errors-messages-disabled='', placeholder='+7 (___) ___-__-__')
                                    label.input-box__icon.icon-telephone
                                  button.button.button_big.button_blue.button_blue2.mt30(type='submit', name='call')
                                    | Записаться на просмотр
                                    span.button__arrow.icon-arrow
                                  .polity-box.mt20
                                    .polity-box__dot
                                    .font_size12.fw_medium.fade05
                                      | Вы соглашаетесь с условиями 
                                      br
                                      | обработки персональных данных 
                                      br
                                      | ознакомиться
           




        .cart__item
          .object-slide__title.object-slide__title_kredit.ff_trajan Рассчитайте ежемесячный платеж и вероятность 
          .kredit-box.mt30
            .kredit-step.kredit-step_active
              .font_size44.ff_trajan
                | Пройдите тест
                br
                |                             до конца и получите
                br
                |                             льготные условия по ипотеке
              .mt15
                .font_size22.ff_trajan
                  | Получите +50% к вероятности
                  br
                  |                                 одобрения заявки, заполнив 1-й шаг
              .kredit-step__desc
                .kredit-step__desc-left.mt10
                  .font_size14.fw_medium.fade05
                    | Получите +25% заполнив поле «Номер телефона»
                .kredit-step__desc-right.mt10
                  .desc
                    img.desc__icon(alt='', src='/images/icons/ribbon_gold.png')
                    p.font_size14.fw_medium.fade05
                      | Осталось 4
                      br
                      |                                     вопросов из 4
              .mt15.kredit-scale
                .kredit-scale__load
                  .kredit-scale__arrow.icon-play
              form.kredit-step__form.row.js-kredit-step.ajax-form(action='#', data-parsley-validate='', enctype='multipart/form-data', method='post', novalidate='')
                .col-min-6
                  .input-box.mt40
                    input.input-text.input-text_border(data-parsley-errors-messages-disabled='', data-parsley-id='1879', name='name', placeholder='Укажите ФИО', required='required', type='text')
                    ul#parsley-id-1879.parsley-errors-list
                    label.input-box__icon.icon-user
                .col-min-6
                  .input-box.mt40
                    input.input-text.input-text_border(data-parsley-errors-messages-disabled='', data-parsley-id='8808', name='phone', placeholder='Введите номер телефона*', required='required', type='tel')
                    ul#parsley-id-8808.parsley-errors-list
                    label.input-box__icon.icon-telephone
                .col-min-6
                  .button-money.mt40
                    button.button.button_big.button_blue.button_blue2(name='send', type='submit')
                      | Следующий шаг
                      span.button__arrow.icon-arrow
                      img.button-money__img(alt='', src='/images/money_kredit.png')
                .col-min-6
                  .polity-box.mt45
                    .polity-box__dot
                    .font_size12.fw_medium.fade05
                      | Вы соглашаетесь с условиями
                      br
                      |                                         обработки персональных данных
                      br
                      a(href='#') ознакомиться
            .kredit-step
              .font_size44.ff_trajan
                | Пройдите тест
                br
                |                             до конца и получите
                br
                |                             льготные условия по ипотеке
              .mt15
                .font_size22.ff_trajan
                  | Получите +12% к вероятности
                  br
                  |                                 одобрения заявки, заполнив 2-й шаг
              .kredit-step__desc
                .kredit-step__desc-left.mt10
                  .font_size14.fw_medium.fade05
                    | Получите +12% заполнив поле «Стоимость квартиры»
                .kredit-step__desc-right.mt10
                  .desc
                    img.desc__icon(alt='', src='/images/icons/ribbon_gold.png')
                    p.font_size14.fw_medium.fade05
                      | Осталось 3
                      br
                      |                                     вопросов из 4
              .mt15.kredit-scale
                .kredit-scale__load(style='width: 25%;')
                  .kredit-scale__arrow.icon-play
              form.kredit-step__form.row.js-kredit-step.ajax-form(action='#', data-parsley-validate='', enctype='multipart/form-data', method='post', novalidate='')
                .col-min-6
                  .input-box.mt40
                    input.input-text.input-text_border(data-parsley-errors-messages-disabled='', data-parsley-id='6256', name='price', placeholder='Укажите стоимость квартиры', required='required', type='text')
                    ul#parsley-id-6256.parsley-errors-list
                    label.input-box__icon.icon-house
                .col-min-6
                .col-min-6
                  .button-money.mt40
                    button.button.button_big.button_blue.button_blue2(name='send', type='submit')
                      | Следующий шаг
                      span.button__arrow.icon-arrow
                      img.button-money__img(alt='', src='/images/money_kredit.png')
                .col-min-6
                  .polity-box.mt45
                    .polity-box__dot
                    .font_size12.fw_medium.fade05
                      | Вы соглашаетесь с условиями
                      br
                      |                                         обработки персональных данных
                      br
                      a(href='#') ознакомиться
            .kredit-step
              .font_size44.ff_trajan
                | Пройдите тест
                br
                |                             до конца и получите
                br
                |                             льготные условия по ипотеке
              .mt15
                .font_size22.ff_trajan
                  | Получите +15% к вероятности
                  br
                  |                                 одобрения заявки, заполнив 3-й шаг
              .kredit-step__desc
                .kredit-step__desc-left.mt10
                  .font_size14.fw_medium.fade05
                    | Получите +15% заполнив поле «Первый взнос»
                .kredit-step__desc-right.mt10
                  .desc
                    img.desc__icon(alt='', src='/images/icons/ribbon_gold.png')
                    p.font_size14.fw_medium.fade05
                      | Осталось 2
                      br
                      |                                     вопросов из 4
              .mt15.kredit-scale
                .kredit-scale__load(style='width: 50%;')
                  .kredit-scale__arrow.icon-play
              form.kredit-step__form.row.js-kredit-step.ajax-form(action='#', data-parsley-validate='', enctype='multipart/form-data', method='post', novalidate='')
                .col-min-6
                  .input-box.mt40
                    input.input-text.input-text_border(data-parsley-errors-messages-disabled='', data-parsley-id='9087', name='coin', placeholder='Укажите сумму первого взноса', required='required', type='text')
                    ul#parsley-id-9087.parsley-errors-list
                    label.input-box__icon.icon-coin
                .col-min-6
                .col-min-6
                  .button-money.mt40
                    button.button.button_big.button_blue.button_blue2(name='send', type='submit')
                      | Следующий шаг
                      span.button__arrow.icon-arrow
                      img.button-money__img(alt='', src='/images/money_kredit.png')
                .col-min-6
                  .polity-box.mt45
                    .polity-box__dot
                    .font_size12.fw_medium.fade05
                      | Вы соглашаетесь с условиями
                      br
                      |                                         обработки персональных данных
                      br
                      a(href='#') ознакомиться
            .kredit-step
              .font_size44.ff_trajan
                | Пройдите тест
                br
                |                             до конца и получите
                br
                |                             льготные условия по ипотеке
              .mt15
                .font_size22.ff_trajan
                  | Получите +15% к вероятности
                  br
                  |                                 одобрения заявки, заполнив последний шаг
              .kredit-step__desc
                .kredit-step__desc-left.mt10
                  .font_size14.fw_medium.fade05
                    | Получите +25% заполнив поле «Срок выплаты»
                .kredit-step__desc-right.mt10
                  .desc
                    img.desc__icon(alt='', src='/images/icons/ribbon_gold.png')
                    p.font_size14.fw_medium.fade05
                      | Осталось 1
                      br
                      |                                     вопросов из 4
              .mt15.kredit-scale
                .kredit-scale__load(style='width: 75%;')
                  .kredit-scale__arrow.icon-play
              form.kredit-step__form.row.js-kredit-step.ajax-form(action='#', data-parsley-validate='', enctype='multipart/form-data', method='post', novalidate='')
                .col-min-6
                  .input-box.mt40
                    input.input-text.input-text_border(data-parsley-errors-messages-disabled='', data-parsley-id='1616', name='calendar', placeholder='На какой срок получаете ипотеку', required='required', type='text')
                    ul#parsley-id-1616.parsley-errors-list
                    label.input-box__icon.icon-calendar
                .col-min-6
                .col-min-6
                  .button-money.mt40
                    button.button.button_big.button_blue.button_blue2(name='send', type='submit')
                      | Следующий шаг
                      span.button__arrow.icon-arrow
                      img.button-money__img(alt='', src='/images/money_kredit.png')
                .col-min-6
                  .polity-box.mt45
                    .polity-box__dot
                    .font_size12.fw_medium.fade05
                      | Вы соглашаетесь с условиями
                      br
                      |                                         обработки персональных данных
                      br
                      a(href='#') ознакомиться
            .kredit-step
              .font_size44.ff_trajan
                | Отлично. Мы получили
                br
                |                             все нужные данные.
                br
                |                             Остался последний шаг
              .mt15
                .font_size22.ff_trajan
                  | Выберите банки-партнеры,
                  br
                  |                                 к которым необходимо отправить заявку на ипотеку
              form.kredit-step__form.ajax-form.row(action='/send', data-parsley-validate='', enctype='multipart/form-data', method='post', novalidate='')
                .col-min-12
                  .bank-list
                    label.bank-list__item
                      input.bank-list__input(type='checkbox')
                      img.bank-list__logo(alt='', src='/images/vtb.png')
                    label.bank-list__item
                      input.bank-list__input(type='checkbox')
                      img.bank-list__logo(alt='', src='/images/sber.png')
                    label.bank-list__item
                      input.bank-list__input(type='checkbox')
                      img.bank-list__logo(alt='', src='/images/Raiffeisen_Bank.png')
                    label.bank-list__item
                      input.bank-list__input(type='checkbox')
                      img.bank-list__logo(alt='', src='/images/tinkoff.png')
                    label.bank-list__item
                      input.bank-list__input(type='checkbox')
                      img.bank-list__logo(alt='', src='/images/logo-alfabank.png')
                  a.fw_medium.bank-list__all.mt15.js-all-banks(href='#') Отправить заявку во все банки-партнеры
                .col-min-6
                  .button-building.mt60
                    button.button.button_big.button_blue.button_blue2(name='send', type='submit')
                      | Отправить заявку на ипотеку
                      span.button__arrow.icon-arrow
                      img.button-building__img(alt='', src='/images/catalog/building.png')
                .col-min-6
                  .polity-box.mt65
                    .polity-box__dot
                    .font_size12.fw_medium.fade05
                      | Вы соглашаетесь с условиями
                      br
                      |                                         обработки персональных данных
                      br
                      a(href='#') ознакомиться
            .kredit-step
              .font_size44.ff_trajan
                | Спасибо за заявку.
                br
                |                             Менеджер перезвонит вам
                br
                |                             в ближайшее время
              .desc.mt30
                img.desc__icon(alt='', src='/images/icons/ribbon.png')
                p.font_size14.fade05.fw_medium
                  | А пока посмотрите наши соцсети, и следите за информацией об открытии
                  br
                  |                             продаж в новых ЖК, результатах юридической экспертизы по ним, акции и т.д.
                  br
                  |                             Будтье в курсе последних новостей в сфере недвижимости!
              .social-groups.row.mt70
                .col-min-4.social-groups__item
                  a.social-groups__link(href='https://vk.com/kislorod_sochi', target='_blank')
                    span.social-groups__content
                      span.social-groups__icon.icon-vk
                      span.social-groups__text.ff_trajan
                        | Группа
                        br
                        |                                 Вконтакте
                  a.link-more.fw_medium.mt25(href='https://vk.com/kislorod_sochi', target='_blank')
                    | Подписаться 
                    span.link-more__arrow.icon-arrow
                .col-min-4.social-groups__item
                  a.social-groups__link(href='https://www.facebook.com/%D0%9D%D0%B5%D0%B4%D0%B2%D0%B8%D0%B6%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D1%8C-%D0%A1%D0%9E%D0%A7%D0%98-%D0%90%D0%94%D0%9B%D0%95%D0%A0-289135585237844/', target='_blank')
                    span.social-groups__content
                      span.social-groups__icon.social-groups__icon_fb.icon-facebook
                      span.social-groups__text.ff_trajan
                        | Группа
                        br
                        |                                 Facebook
                  a.link-more.fw_medium.mt25(href='https://www.facebook.com/%D0%9D%D0%B5%D0%B4%D0%B2%D0%B8%D0%B6%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D1%8C-%D0%A1%D0%9E%D0%A7%D0%98-%D0%90%D0%94%D0%9B%D0%95%D0%A0-289135585237844/', target='_blank')
                    | Подписаться 
                    span.link-more__arrow.icon-arrow
                .col-min-4.social-groups__item
                  a.social-groups__link(href='https://www.instagram.com/kislorod_sochi/', target='_blank')
                    span.social-groups__content
                      span.social-groups__icon.social-groups__icon_fb.icon-instagram
                      span.social-groups__text.ff_trajan
                        | Группа
                        br
                        |                                 Instagram
                  a.link-more.fw_medium.mt25(href='https://www.instagram.com/kislorod_sochi/', target='_blank')
                    | Подписаться 
                    span.link-more__arrow.icon-arrow
        .cart__item
          .construction.js-catalog-parent
            .construction__head
              .construction__title.ff_trajan
                | Ход строительства 
                br
                | и фотоотчет со стройки
              .construction__progress
                .construction__percent.ff_trajan
                  span.construction__percent_big 28% 
                  span.construction__percent_min Закончено
                .construction__scale
                  .construction__load(style='width: 28%')
                    .construction__handle.icon-play
            .construction__slider.js-catalog-slider
              .construction__slide(v-for="stage in building.Stages")
                .catalog-slider__pic(tabindex='0')
                  img(v-bind:src="'/images/building/stage/'+stage.sStageImage", alt='')
                  span.catalog-slider__caption
                    span.font_size14.fw_medium
                      | {{ stage.dStageDate }}
                      br
                      |  {{ stage.tStageDesc }}
            .construction__bottom
              .cart__status.js-catalog-status 1/12
   
  include ../include/footer.pug
