
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/

.footer {
    position: relative;
    &__inside-wrap {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        display: block;
        width: 417/1170*100%;
    }
    &__right {
        width: (1170-417-60)/1170*100%;
        display: flex;
        justify-content: space-between;
        border-left: 1px solid rgba(35,38,55,0.2);
        padding-bottom: toem(40);
        padding-left: 56/1170*100%;
        padding-right: 56/1170*100%;
    }
    &__info {
        max-width: toem(300);
    }
    a {
        color: $dark-blue;
        text-decoration: underline;
        &:hover {
            opacity: 1;
        }
    }
    &__develop {
        display: block;
        padding-top: toem(10,14);
        &-logo {
            width: toem(65,14);
            display: block;
            margin-bottom: toem(10,14);
            opacity: 0.4;
        }
    }
}

.popup-requisites {
    background: #fff;
    box-shadow: 0 -20px 100px rgba(0,0,0,0.03);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: toem(45) 0 toem(45) 0;
    display: none;
    .popup__close {
        right: 15px;
        top: toem(5);
    }
    &__load {
        max-width: toem(300);
        margin-bottom: toem(25);
    }
}

.requisites-list {
    &__item:not(:last-child) {
        margin-bottom: toem(8);
    }
}

/* Popup */

.popup-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: 9999;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: $dark-blue;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: $yelow;
    }
    &__inside-wrap {
        min-height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

.popup-overlay {
    background: $dark-blue;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.popup {
    background: #1c1f2c;
    color: #e9e9e9;
    @include transition(1);
    width: 50%;
    transform: translateX(50%);
    padding-bottom: toem(40);
    position: relative;
    z-index: 2;
    padding: toem(60) toem(60) toem(75);
    display: flex;
    align-items: center;
    &__inside-wrap {
        width: 100%;
    }
    &_active {
        transform: translateX(0);
    }
    &__close {
        cursor: pointer;
        width: toem(26);
        position: absolute;
        right: toem(60);
        top: toem(68);
        @include transition($default-transition);
        svg * {
            fill: $yelow;
            @include transition(0.1);
        }
        &:hover {
            transform: rotate(90deg);
            svg * {
                fill: $blue;
            }
        }
    }
    &__expert {
        position: absolute;
        bottom: 0;
        right: -9%;
        width: 680/960*100%;
        img {
            display: block;
            max-width: 100%;
        }
    }
    &__kredit {
        position: relative;
        padding-left: toem(18);
        padding-right: toem(18);
        &:before {
            content: '';
            display: block;
            background: url(/images/catalog/key.png) 0 0 no-repeat;
            width: toem(142);
            height: toem(273);
            background-size: 100% auto;
            position: absolute;
            top: toem(-120);
            left: toem(-125);
        }
        .input-text {
            border: 1px solid rgba(233,233,233,0.2);
        }
        &-bottom {
            margin-top: toem(100);
            display: flex;
            align-items: center;
            &:before {
                content: '';
                display: block;
                width: 6px;
                min-width: 6px;
                height: 6px;
                border-radius: 100%;
                margin-right: toem(20);
                background: $yelow;
            }
        }
    }
}



.callback {
    max-width: toem(500);
    position: relative;
    &__form {
        max-width: toem(390);
    }
    .button {
        width: 100%;
    }
    .message-list {
        justify-content: flex-start;
        &__item:not(:last-child) {
            margin-right: toem(17);
        }
    }
}

.social-groups {
    &__link {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: toem(30) toem(20) toem(30) toem(20);
        color: inherit;
        text-align: center;
        height: toem(250);
        border: 2px dotted rgba(255,255,255,0.3);
        border-radius: 4px;
        &:hover {
            background: rgba(11,11,16,0.2);
        }
    }
    &__content {
        width: 100%;
    }
    &__icon {
        display: block;
        font-size: toem(55);
        &_fb {
            font-size: toem(40);
            padding-top: toem(8,40);
            padding-bottom: toem(7,40);
            height: toem(55,40);
        }
    }
    &__text {
        font-size: toem(18);
        line-height: toem(32,18);
        margin-top: toem(20,18);
        display: block;
    }
    .link-more {
        justify-content: center;
    }
}

.modal-exit {
    &__zhurnal {
        position: relative;
        margin-right: toem(-15);
        display: flex;
        align-items: center;
        margin-top: toem(-100);
        &-line {
            height: 1px;
            width: 80%;
            top: 50%;
            background: #61636c;
            @include transition($default-transition);
        }
        &-ellipse {
            width: toem(291);
            min-width: toem(291);
            height: toem(291);
            padding-top: toem(17);
            border: 1px solid #61636c;
            border-radius: 100%;
            @include transition($default-transition);
        }
        &-img {
            display: block;
            width: toem(423);
            margin-left: toem(-89);
        }
        &.active {
            .modal-exit__zhurnal-line {
                background: $blue;
                box-shadow: 0 toem(-17) toem(90) $blue;
            }
            .modal-exit__zhurnal-ellipse {
                border-color: $blue;
                box-shadow: inset 0 0 toem(90) rgba(36,130,218,0.27), 0 toem(-17) toem(90) rgba(36,130,218,0.27);
            }
        }
    }
    &__form {
        margin-top: toem(-100);
        position: relative;
    }
    &__buttons {
        display: flex;
        align-items: center;
    }
    &__no {
        display: inline-block;
        text-decoration: underline;
        margin-top: toem(40,14);
    }
    &__yes {
        margin-top: toem(40);
        width: toem(370);
        margin-right: toem(40);
    }
}

/* --------------------------------------------------------------------------// Popup */

/* Parsley error */
.parsley-error {
  border-color: #f6504d !important;
}
.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list>li {
  font-size: 12px;
  list-style: none;
  color: #f6504d;
}
/* --------------------------------------------------------------------------// Parsley error */

@include max(1600) {
    .popup {
        width: 70%;
    }
    .modal-exit__zhurnal {
        margin-right: toem(-60);
    }
}

@include max(1025) {
    .popup__kredit-bottom {
        margin-top: toem(80);
    }
}

@include max(900) {
    .popup {
        width: 100%;
    }
}

@include max(600) {
    .modal-exit {
        &__zhurnal {
            display: none;
        }
        &__form {
            margin-top: toem(40);
            &-desc {
                br {
                    display: none;
                }
            }
        }
        &__buttons {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__yes {
            margin-right: 0;
        }
        &__no {
            margin-top: 15px;
        }
    }
}

@include max(700) {
    .footer {
        &__inside-wrap {
            flex-wrap: wrap;
        }
        &__logo {
            width: 100%;
            max-width: 360px;
        }
        &__right {
            width: 100%;
            max-width: 400px;
            padding-left: 0;
            padding-right: 0;
            border-left: 0;
            margin-top: 30px;
        }
    }
    .popup {
        &__expert {
            display: none;
        }
    }
}

@include max(479) {
    .footer {
        &__right {
            flex-wrap: wrap;
            text-align: center;
        }
        &__info {
            max-width: none;
            width: 100%;
            padding-bottom: 20px;
        }
        &__develop {
            text-align: center;
            width: 100%;
            &-logo {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .popup {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        &__close {
            right: 15px;
            top: 15px;
            width: 20px;
        }
        .message-list {
            margin-top: 20px;
        }
    }
    .social-groups {
        margin-top: 35px;
        &__item {
            width: 33.33%;
        }
        &__link {
            height: auto;
            padding: 15px;
            font-size: 12px;
        }
        &__text, .link-more {
            display: none;
        }
    }
    .popup-requisites .popup__close {
        top: -20px;
    }
    .requisites-list {
        &__item {
            flex-wrap: nowrap;
        }
        .col-min-4 {
            width: 34%;
        }
        .col-min-8 {
            width: 66%;
        }
    }
}
























