
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/

.footer {
    position: relative;
    &__inside-wrap {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        display: block;
        width: 417/1170*100%;
    }
    &__right {
        width: (1170-417-60)/1170*100%;
        display: flex;
        justify-content: space-between;
        border-left: 1px solid rgba(35,38,55,0.2);
        padding-bottom: toem(40);
        padding-left: 56/1170*100%;
        // padding-right: 56/1170*100%;
    }
    &__info {
        max-width: toem(300);
    }
    a {
        color: $dark-blue;
        text-decoration: underline;
        &:hover {
            opacity: 1;
        }
    }
    &__develop {
        display: block;
        padding-top: toem(10,14);
        &-logo {
            width: toem(65,14);
            display: block;
            margin-bottom: toem(10,14);
            opacity: 0.4;
        }
    }
}

.popup-requisites {
    background: #fff;
    box-shadow: 0 -20px 100px rgba(0,0,0,0.03);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: toem(45) 0 toem(45) 0;
    display: none;
    .popup__close {
        right: 15px;
        top: toem(5);
    }
    &__load {
        max-width: toem(300);
        margin-bottom: toem(25);
    }
}

.requisites-list {
    &__item:not(:last-child) {
        margin-bottom: toem(8);
    }
}

/* Popup */

.popup-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: 9999;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: $dark-blue;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: $yelow;
    }
    &__inside-wrap {
        min-height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

.popup-overlay {
    background: $dark-blue;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.popup {
    background: #1c1f2c;
    color: #e9e9e9;
    @include transition(1);
    width: 50%;
    transform: translateX(50%);
    padding-bottom: toem(40);
    position: relative;
    z-index: 2;
    padding: toem(60) toem(60) toem(75);
    display: flex;
    align-items: center;
    &__inside-wrap {
        width: 100%;
    }
    &_active {
        transform: translateX(0);
    }
    &__close {
        cursor: pointer;
        width: toem(26);
        position: absolute;
        right: toem(60);
        top: toem(68);
        @include transition($default-transition);
        svg * {
            fill: $yelow;
            @include transition(0.1);
        }
        &:hover {
            transform: rotate(90deg);
            svg * {
                fill: $blue;
            }
        }
    }
    &__expert {
        position: absolute;
        bottom: 0;
        right: -9%;
        width: 680/960*100%;
        img {
            display: block;
            max-width: 100%;
        }
    }
    &__kredit {
        position: relative;
        padding-left: toem(18);
        padding-right: toem(18);
        &:before {
            content: '';
            display: block;
            background: url(/images/catalog/key.png) 0 0 no-repeat;
            width: toem(142);
            height: toem(273);
            background-size: 100% auto;
            position: absolute;
            top: toem(-120);
            left: toem(-125);
        }
        .input-text {
            border: 1px solid rgba(233,233,233,0.2);
        }
        &-bottom {
            margin-top: toem(100);
            display: flex;
            align-items: center;
            &:before {
                content: '';
                display: block;
                width: 6px;
                min-width: 6px;
                height: 6px;
                border-radius: 100%;
                margin-right: toem(20);
                background: $yelow;
            }
        }
    }
    &__bottom {
        position: absolute;
        bottom: 0;
        padding-bottom: toem(50);
        overflow: hidden;
        width: 100%;
        left: 0;
        padding-left: toem(60);
        padding-right: toem(60);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: toem(5);
    }
    &__left {
        display: flex;
        align-items: center;
    }
    &__logo {
        width: toem(170);
        margin-right: toem(50);
        img {
            display: block;
            width: 100%;
        }
    }
    &__desc {
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: toem(120);
            background: #fff;
            opacity: 0.2;
            left: toem(-25);
            bottom: toem(-50);
        }
    }
    &__phone {
        font-size: toem(24);
        font-family: 'Trajan Pro 3';
        font-weight: 500;
        &-icon {
            font-size: toem(17,24);
        }
        span {
            color: #808897;
        }
    }
}

.js-popup-exit {
    .popup {
        transform: none;
    }
}

.popup-catalog, .popup-catalog__overlay {left:0; top:0; width:100%; height:100%;}
.popup-catalog__overlay {
    z-index: 1;
}
.popup-catalog {
	z-index:999; 
    display:none;
    position: fixed;
    overflow-y: auto;
	&__overlay {
        background: $dark-blue; 
        opacity: 1;
        position: absolute;
    }
	&__modal {
		position: relative; 
        z-index: 2; 
        margin: 0 auto 0 auto;
        background: #fff;
        max-width: toem(1270);
        border-radius: 15px;
        padding: toem(64);
	}
    &__title {
        font-size: toem(40);
        line-height: toem(50,40);
        font-family: 'Trajan Pro 3';
        text-align: center;
    }
    &__line {
        position: relative;
        margin-top: toem(35);
        overflow: hidden;
        height: 15px;
        padding-top: 3px;
        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            width: 1000px;
            height: 1px;
            background: $yelow;
            margin-top: -1px;
        }
        &:before {
            right: 50%;
            margin-right: 35px;
        }
        &:after {
            left: 50%;
            margin-left: 35px;
        }
        &-romb {
            width: 9px;
            height: 9px;
            transform: rotate(45deg);
            background: $yelow;
            margin: 0 auto;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        padding-top: toem(35);
        justify-content: space-between;
    }
    &__item {
        margin-top: 10px;
        max-height: 212px;
        overflow: hidden;
        position: relative;
        width: 32.7%;
        cursor: pointer;
        img {
            display: block;
            @include transition($default-transition);
            width: 100%;
            filter: grayscale(100%);
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(/images/catalog/gradient.png) 0 0 repeat-x;
            background-size: auto 100%;
            z-index: 1;
        }
        &:hover {
            img {
                filter: grayscale(0%);
            }
            .popup-catalog__text {
                color: $blue;
            }
            .popup-catalog__arrow {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    &__text {
        position: absolute;
        bottom: toem(22);
        left: 0;
        width: 100%;
        padding-left: toem(29);
        z-index: 2;
        color: #fff;
        font-family: 'Trajan Pro 3';
        font-weight: 300;
        padding-right: toem(70);
        @include transition($default-transition);
    }
    &__name {
        font-size: toem(24);
    }
    &__count {
        font-size: 10px;
        padding-left: toem(12,10);
    }
    &__arrow {
        position: absolute;
        width: toem(31);
        right: toem(29);
        bottom: toem(20);
        z-index: 2;
        @include transition($default-transition);
        opacity: 0;
        transform: translateY(10px);
        svg * {
            fill: $blue;
        }
    }
    &__close {
        position: absolute;
        right: toem(40);
        top: toem(40);
        width: toem(22);
        opacity: 0.2;
        @include transition($default-transition);
        cursor: pointer;
        &:hover {
            opacity: 0.5;
        }
    }
}

.modal-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.callback {
    max-width: toem(500);
    position: relative;
    &__form {
        max-width: toem(390);
    }
    .button {
        width: 100%;
    }
    .message-list {
        justify-content: flex-start;
        &__item:not(:last-child) {
            margin-right: toem(17);
        }
    }
}

.social-groups {
    &__link {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: toem(30) toem(20) toem(30) toem(20);
        color: inherit;
        text-align: center;
        height: toem(250);
        border: 2px dotted rgba(255,255,255,0.3);
        border-radius: 4px;
        &:hover {
            background: rgba(11,11,16,0.2);
        }
    }
    &__content {
        width: 100%;
    }
    &__icon {
        display: block;
        font-size: toem(55);
        &_fb {
            font-size: toem(40);
            padding-top: toem(8,40);
            padding-bottom: toem(7,40);
            height: toem(55,40);
        }
    }
    &__text {
        font-size: toem(18);
        line-height: toem(32,18);
        margin-top: toem(20,18);
        display: block;
    }
    .link-more {
        justify-content: center;
    }
}

.modal-exit {
    &__zhurnal {
        position: relative;
        margin-right: toem(-15);
        display: flex;
        align-items: center;
        margin-top: toem(-100);
        &-line {
            height: 1px;
            width: 80%;
            top: 50%;
            background: #61636c;
            @include transition($default-transition);
        }
        &-ellipse {
            width: toem(291);
            min-width: toem(291);
            height: toem(291);
            padding-top: toem(17);
            border: 1px solid #61636c;
            border-radius: 100%;
            @include transition($default-transition);
        }
        &-img {
            display: block;
            width: toem(423);
            margin-left: toem(-89);
        }
        &.active {
            .modal-exit__zhurnal-line {
                background: $blue;
                box-shadow: 0 toem(-17) toem(90) $blue;
            }
            .modal-exit__zhurnal-ellipse {
                border-color: $blue;
                box-shadow: inset 0 0 toem(90) rgba(36,130,218,0.27), 0 toem(-17) toem(90) rgba(36,130,218,0.27);
            }
        }
    }
    .input-box {
        max-width: toem(370);
    }
    &__trafik-img {
        width: toem(279);
    }
    &__form {
        margin-top: toem(-100);
        position: relative;
    }
    &__buttons {
        display: flex;
        align-items: center;
    }
    &__no {
        display: inline-block;
        text-decoration: underline;
        margin-top: toem(20,14);
    }
    &__yes {
        margin-top: toem(20);
        width: toem(370);
        margin-right: toem(40);
    }
}

.popup-menu {
    padding-bottom: toem(100);
    &__item {
        display: block;
        font-size: toem(54);
        color: #fff;
        line-height: 1.2;
        &:hover {
            color: $yelow;
        }
    }
    &__item:not(:first-child) {
        margin-top: toem(20,54);
    }
}

.popup-polity {
    background: #1c1f2c;
    color: #fff;
    padding: toem(50) toem(40);
    max-width: toem(1024);
    height: auto;
    margin: 0 auto 0 auto;
    position: relative;
    z-index: 2;
    top: 15vh;
    height: 70vh;
    .popup__close {
        right: toem(30,14);
        top: toem(20,14);
        font-size: toem(14);
    }
    &__content {
        height: calc( 70vh - 6.25em );
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: toem(20);
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background-color: $dark-blue;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 0px;
            background-color: $yelow;
        }
        p, li {
            padding-bottom: toem(15);
        }
    }
}

/* --------------------------------------------------------------------------// Popup */

/* Parsley error */
.parsley-error {
  border-color: #f6504d !important;
}
.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list>li {
  font-size: 12px;
  list-style: none;
  color: #f6504d;
}
/* --------------------------------------------------------------------------// Parsley error */

@include max(1600) {
    .popup {
        width: 70%;
    }
    .modal-exit__zhurnal {
        margin-right: toem(-60);
    }
}

@include max(1025) {
    .popup__kredit-bottom {
        margin-top: toem(80);
    }
}

@include max(900) {
    .popup {
        width: 100%;
    }
}

@include max(600) {
    .modal-exit {
        &__zhurnal {
            display: none;
        }
        &__form {
            margin-top: toem(40);
            &-desc {
                br {
                    display: none;
                }
            }
        }
        &__buttons {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__yes {
            margin-right: 0;
        }
        &__no {
            margin-top: 15px;
        }
    }
    .popup {
        &__bottom {
            padding-left: 15px;
            padding-right: 15px;
        }
        &__desc {
            display: none;
        }
        &__logo {
            font-size: 12px;
        }
        &__phone {
            font-size: 16px;
        }
    }
}

@include max(769) {
    .popup-catalog {
        &__modal {
            padding-left: 30px;
            padding-right: 30px;
        }
        &__item {
            width: 49%;
        }
    }
}

@include max(700) {
    .footer {
        &__inside-wrap {
            flex-wrap: wrap;
        }
        &__logo {
            width: 100%;
            max-width: 360px;
        }
        &__right {
            width: 100%;
            max-width: 400px;
            padding-left: 0;
            padding-right: 0;
            border-left: 0;
            margin-top: 30px;
        }
    }
    .popup {
        &__expert {
            display: none;
        }
    }
}

@include max(479) {
    .footer {
        &__right {
            flex-wrap: wrap;
            text-align: center;
        }
        &__info {
            max-width: none;
            width: 100%;
            padding-bottom: 20px;
        }
        &__develop {
            text-align: center;
            width: 100%;
            &-logo {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .popup {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        &__close {
            right: 15px;
            top: 15px;
            width: 20px;
        }
        .message-list {
            margin-top: 20px;
        }
    }
    .social-groups {
        margin-top: 35px;
        &__item {
            width: 33.33%;
        }
        &__link {
            height: auto;
            padding: 15px;
            font-size: 12px;
        }
        &__text, .link-more {
            display: none;
        }
    }
    .popup-requisites .popup__close {
        top: -20px;
    }
    .requisites-list {
        &__item {
            flex-wrap: nowrap;
        }
        .col-min-4 {
            width: 34%;
        }
        .col-min-8 {
            width: 66%;
        }
    }
    .popup-menu {
        &__item {
            font-size: 32px;
        }
    }
    .popup-polity {
        padding-left: 15px;
        padding-right: 20px;
        .popup__close {
            right: 12px;
        }
    }
    .popup-catalog {
        &__modal {
            border-radius: 0;
        }
        &__item {
            width: 100%;
        }
        &__title {
            font-size: 24px;
        }
    }
}


@include max(360) {
    .popup {
        &__bottom {
            flex-wrap: wrap;
            padding-bottom: 20px;
        }
        &__left, &__right {
            width: 100%;
        }
        &__logo {
            font-size: 14px;
        }
        &__phone {
            font-size: 18px;
            margin-top: 15px;
        }
    }
}

ol.lst-kix_list_1-3 {
    list-style-type: none;
}
ol.lst-kix_list_1-4 {
    list-style-type: none;
}
.lst-kix_list_2-6>li:before {
    content: "\0025cf  "}
.lst-kix_list_2-7>li:before {
    content: "\0025cb  "}
ol.lst-kix_list_1-5 {
    list-style-type: none;
}
ol.lst-kix_list_1-6 {
    list-style-type: none;
}
ol.lst-kix_list_1-0 {
    list-style-type: none;
}
.lst-kix_list_2-4>li:before {
    content: "\0025cb  "}
.lst-kix_list_2-5>li:before {
    content: "\0025a0  "}
.lst-kix_list_2-8>li:before {
    content: "\0025a0  "}
ol.lst-kix_list_1-1 {
    list-style-type: none;
}
ol.lst-kix_list_1-2 {
    list-style-type: none;
}
.lst-kix_list_1-1>li {
    counter-increment: lst-ctn-kix_list_1-1;
}
ol.lst-kix_list_1-8.start {
    counter-reset: lst-ctn-kix_list_1-8 0;
}
ol.lst-kix_list_1-5.start {
    counter-reset: lst-ctn-kix_list_1-5 0;
}
ol.lst-kix_list_1-7 {
    list-style-type: none;
}
.lst-kix_list_1-7>li {
    counter-increment: lst-ctn-kix_list_1-7;
}
ol.lst-kix_list_1-8 {
    list-style-type: none;
}
ol.lst-kix_list_1-7.start {
    counter-reset: lst-ctn-kix_list_1-7 0;
}
.lst-kix_list_1-2>li {
    counter-increment: lst-ctn-kix_list_1-2;
}
.lst-kix_list_1-5>li {
    counter-increment: lst-ctn-kix_list_1-5;
}
.lst-kix_list_1-8>li {
    counter-increment: lst-ctn-kix_list_1-8;
}
ol.lst-kix_list_1-4.start {
    counter-reset: lst-ctn-kix_list_1-4 0;
}
ol.lst-kix_list_1-1.start {
    counter-reset: lst-ctn-kix_list_1-1 0;
}
.lst-kix_list_1-4>li {
    counter-increment: lst-ctn-kix_list_1-4;
}
ol.lst-kix_list_1-6.start {
    counter-reset: lst-ctn-kix_list_1-6 0;
}
ol.lst-kix_list_1-3.start {
    counter-reset: lst-ctn-kix_list_1-3 0;
}
ul.lst-kix_list_2-8 {
    list-style-type: none;
}
ol.lst-kix_list_1-2.start {
    counter-reset: lst-ctn-kix_list_1-2 0;
}
ul.lst-kix_list_2-2 {
    list-style-type: none;
}
.lst-kix_list_1-0>li:before {
    content: "" counter(lst-ctn-kix_list_1-0, decimal) ". "}
ul.lst-kix_list_2-3 {
    list-style-type: none;
}
ul.lst-kix_list_2-0 {
    list-style-type: none;
}
ul.lst-kix_list_2-1 {
    list-style-type: none;
}
ul.lst-kix_list_2-6 {
    list-style-type: none;
}
.lst-kix_list_1-1>li:before {
    content: "" counter(lst-ctn-kix_list_1-1, lower-latin) ". "}
.lst-kix_list_1-2>li:before {
    content: "" counter(lst-ctn-kix_list_1-2, lower-roman) ". "}
ul.lst-kix_list_2-7 {
    list-style-type: none;
}
ul.lst-kix_list_2-4 {
    list-style-type: none;
}
ul.lst-kix_list_2-5 {
    list-style-type: none;
}
.lst-kix_list_1-3>li:before {
    content: "" counter(lst-ctn-kix_list_1-3, decimal) ". "}
.lst-kix_list_1-4>li:before {
    content: "" counter(lst-ctn-kix_list_1-4, lower-latin) ". "}
ol.lst-kix_list_1-0.start {
    counter-reset: lst-ctn-kix_list_1-0 0;
}
.lst-kix_list_1-0>li {
    counter-increment: lst-ctn-kix_list_1-0;
}
.lst-kix_list_1-6>li {
    counter-increment: lst-ctn-kix_list_1-6;
}
.lst-kix_list_1-7>li:before {
    content: "" counter(lst-ctn-kix_list_1-7, lower-latin) ". "}
.lst-kix_list_1-3>li {
    counter-increment: lst-ctn-kix_list_1-3;
}
.lst-kix_list_1-5>li:before {
    content: "" counter(lst-ctn-kix_list_1-5, lower-roman) ". "}
.lst-kix_list_1-6>li:before {
    content: "" counter(lst-ctn-kix_list_1-6, decimal) ". "}
.lst-kix_list_2-0>li:before {
    content: "\0025cf  "}
.lst-kix_list_2-1>li:before {
    content: "\0025cb  "}
.lst-kix_list_1-8>li:before {
    content: "" counter(lst-ctn-kix_list_1-8, lower-roman) ". "}
.lst-kix_list_2-2>li:before {
    content: "\0025a0  "}
.lst-kix_list_2-3>li:before {
    content: "\0025cf  "}
ol {
    margin: 0;
    padding: 0;
}
table td, table th {
    padding: 0;
}
.c11 {
    -webkit-text-decoration-skip: none;
    font-weight: 700;
    text-decoration: underline;
    vertical-align: baseline;
    text-decoration-skip-ink: none;
    font-size: 12pt;
    font-style: normal;
}
.c19 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal;
}
.c0 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-style: normal;
}
.c13 {
    padding-top: 0pt;
    text-indent: 1.5pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c7 {
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-style: normal;
}
.c1 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: justify;
}
.c10 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: center;
}
.c3 {
    font-size: 12pt;
    font-weight: 400;
}
.c9 {
    background-color: #ffffff;
    max-width: 517.5pt;
    padding: 72pt 28.3pt 70.8pt 49.5pt;
}
.c18 {
    margin-left: -72pt;
    text-indent: 72pt;
    margin-right: -72pt;
}
.c12 {
    font-size: 12pt;
    font-weight: 700;
}
.c5 {
    margin-left: -1.5pt;
    text-indent: 22.5pt;
}
.c17 {
    padding: 0;
    margin: 0;
}
.c16 {
    margin-left: 34.5pt;
    text-indent: -34.5pt;
}
.c4 {
    margin-left: 72pt;
    padding-left: 0pt;
}
.c15 {
    margin-left: 36pt;
    padding-left: 0pt;
}
.c21 {
    text-indent: 36.8pt;
}
.c20 {
    margin-left: -1.5pt;
}
.c6 {
    text-indent: 36pt;
}
.c2 {
    height: 11pt;
}
.title {
    padding-top: 0pt;
    font-size: 26pt;
    padding-bottom: 3pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.subtitle {
    padding-top: 0pt;
    font-size: 15pt;
    padding-bottom: 16pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
li {
    font-size: 11pt;}
p {
    margin: 0;
    font-size: 11pt;}
h1 {
    padding-top: 20pt;
    font-size: 20pt;
    padding-bottom: 6pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h2 {
    padding-top: 18pt;
    font-size: 16pt;
    padding-bottom: 6pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h3 {
    padding-top: 16pt;
    font-size: 14pt;
    padding-bottom: 4pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h4 {
    padding-top: 14pt;
    font-size: 12pt;
    padding-bottom: 4pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h5 {
    padding-top: 12pt;
    font-size: 11pt;
    padding-bottom: 4pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h6 {
    padding-top: 12pt;
    font-size: 11pt;
    padding-bottom: 4pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
}


.header__center{
  padding: 0 0!important;
}

@media (max-width: 1439px){
  .tabs__container {
    padding: 80px 40px 200px;
  }
}

.main-screen_catalog .main {
  max-width: 9999px!important;
}

.cart__center {
    max-width: 1170px!important;
}



/* app.css | http://127.0.0.1:90/src/css/app.css */

.popup-catalog__item {
  max-height: 212px!important;
}

@media only screen and (max-width: 1279px) {
  .catalog {
    padding-top: 66px!important;
  }
}

@media only screen and (max-width: 1439px) {
  .header {
    padding: 30px 15px!important;
  }
  .catalog {
    padding-top: 115px!important;
  }
}

.center {
  padding: 0 15px!important;
}

