[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
    background: transparent;
    &:before {
        background: transparent;
    }

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-smartphone-call:before {
  content: "\e900";
}
.icon-court:before {
  content: "\e901";
}
.icon-support:before {
  content: "\e902";
}
.icon-portfolio:before {
  content: "\e903";
}
.icon-training:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e905";
}
.icon-coin:before {
  content: "\e906";
}
.icon-house:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-message:before {
  content: "\e90a";
}
.icon-map-marker:before {
  content: "\e90b";
}
.icon-telegram:before {
  content: "\e90c";
}
.icon-viber:before {
  content: "\e90d";
}
.icon-whatsapp:before {
  content: "\e90e";
}
.icon-right-arrow:before {
  content: "\e90f";
}
.icon-funds:before {
  content: "\e910";
}
.icon-government:before {
  content: "\e911";
}
.icon-residential:before {
  content: "\e912";
}
.icon-wallet:before {
  content: "\e913";
}
.icon-book:before {
  content: "\e914";
}
.icon-user:before {
  content: "\e915";
}
.icon-office-building:before {
  content: "\e916";
}
.icon-medal:before {
  content: "\e917";
}
.icon-arrow:before {
  content: "\e918";
}
.icon-play:before {
  content: "\e919";
}
.icon-telephone:before {
  content: "\e91a";
}
.icon-menu:before {
  content: "\e91b";
}
.icon-facebook:before {
  content: "\e91c";
}
.icon-vk:before {
  content: "\e91d";
}
.icon-youtube:before {
  content: "\e91e";
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.nice-select:hover {
  border-color: #dbdbdb;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999;
}

.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.nice-select.open:after {
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

/*! jQuery UI - v1.12.1 - 2019-05-04
* http://jqueryui.com
* Includes: core.css, slider.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?scope=&folderName=base&cornerRadiusShadow=8px&offsetLeftShadow=0px&offsetTopShadow=0px&thicknessShadow=5px&opacityShadow=30&bgImgOpacityShadow=0&bgTextureShadow=flat&bgColorShadow=666666&opacityOverlay=30&bgImgOpacityOverlay=0&bgTextureOverlay=flat&bgColorOverlay=aaaaaa&iconColorError=cc0000&fcError=5f3f3f&borderColorError=f1a899&bgTextureError=flat&bgColorError=fddfdf&iconColorHighlight=777620&fcHighlight=777620&borderColorHighlight=dad55e&bgTextureHighlight=flat&bgColorHighlight=fffa90&iconColorActive=ffffff&fcActive=ffffff&borderColorActive=003eff&bgTextureActive=flat&bgColorActive=007fff&iconColorHover=555555&fcHover=2b2b2b&borderColorHover=cccccc&bgTextureHover=flat&bgColorHover=ededed&iconColorDefault=777777&fcDefault=454545&borderColorDefault=c5c5c5&bgTextureDefault=flat&bgColorDefault=f6f6f6&iconColorContent=444444&fcContent=333333&borderColorContent=dddddd&bgTextureContent=flat&bgColorContent=ffffff&iconColorHeader=444444&fcHeader=333333&borderColorHeader=dddddd&bgTextureHeader=flat&bgColorHeader=e9e9e9&cornerRadius=3px&fwDefault=normal&fsDefault=1em&ffDefault=Arial%2CHelvetica%2Csans-serif
* Copyright jQuery Foundation and other contributors; Licensed MIT */
.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

.ui-helper-clearfix:after {
  clear: both;
}

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

.ui-front {
  z-index: 100;
}

.ui-state-disabled {
  cursor: default !important;
  pointer-events: none;
}

.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.ui-widget-icon-block {
  left: 50%;
  margin-left: -8px;
  display: block;
}

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

.ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

.ui-slider-horizontal {
  height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

.ui-widget {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
}

.ui-widget .ui-widget {
  font-size: 1em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
}

.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
}

.ui-widget-content {
  border: 1px solid #ddd;
  background: #fff;
  color: #333;
}

.ui-widget-content a {
  color: #333;
}

.ui-widget-header {
  border: 1px solid #ddd;
  background: #e9e9e9;
  color: #333;
  font-weight: bold;
}

.ui-widget-header a {
  color: #333;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
  color: #454545;
  text-decoration: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
  border: 1px solid #ccc;
  background: #ededed;
  font-weight: normal;
  color: #2b2b2b;
}

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited, a.ui-button:hover, a.ui-button:focus {
  color: #2b2b2b;
  text-decoration: none;
}

.ui-visual-focus {
  box-shadow: 0 0 3px 1px #5e9ed6;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: normal;
  color: #fff;
}

.ui-icon-background, .ui-state-active .ui-icon-background {
  border: #003eff;
  background-color: #fff;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #fff;
  text-decoration: none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #dad55e;
  background: #fffa90;
  color: #777620;
}

.ui-state-checked {
  border: 1px solid #dad55e;
  background: #fffa90;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #777620;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid #f1a899;
  background: #fddfdf;
  color: #5f3f3f;
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
  color: #5f3f3f;
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #5f3f3f;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
}

.ui-icon {
  width: 16px;
  height: 16px;
}

.ui-icon, .ui-widget-content .ui-icon {
  background-image: url("images/ui-icons_444444_256x240.png");
}

.ui-widget-header .ui-icon {
  background-image: url("images/ui-icons_444444_256x240.png");
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
  background-image: url("images/ui-icons_555555_256x240.png");
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
  background-image: url("images/ui-icons_ffffff_256x240.png");
}

.ui-state-highlight .ui-icon, .ui-button .ui-state-highlight.ui-icon {
  background-image: url("images/ui-icons_777620_256x240.png");
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url("images/ui-icons_cc0000_256x240.png");
}

.ui-button .ui-icon {
  background-image: url("images/ui-icons_777777_256x240.png");
}

.ui-icon-blank {
  background-position: 16px 16px;
}

.ui-icon-caret-1-n {
  background-position: 0 0;
}

.ui-icon-caret-1-ne {
  background-position: -16px 0;
}

.ui-icon-caret-1-e {
  background-position: -32px 0;
}

.ui-icon-caret-1-se {
  background-position: -48px 0;
}

.ui-icon-caret-1-s {
  background-position: -65px 0;
}

.ui-icon-caret-1-sw {
  background-position: -80px 0;
}

.ui-icon-caret-1-w {
  background-position: -96px 0;
}

.ui-icon-caret-1-nw {
  background-position: -112px 0;
}

.ui-icon-caret-2-n-s {
  background-position: -128px 0;
}

.ui-icon-caret-2-e-w {
  background-position: -144px 0;
}

.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}

.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}

.ui-icon-triangle-1-s {
  background-position: -65px -16px;
}

.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
  background-position: -65px -32px;
}

.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
  background-position: 1px -48px;
}

.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

.ui-icon-arrow-4 {
  background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}

.ui-icon-extlink {
  background-position: -32px -80px;
}

.ui-icon-newwin {
  background-position: -48px -80px;
}

.ui-icon-refresh {
  background-position: -64px -80px;
}

.ui-icon-shuffle {
  background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}

.ui-icon-folder-open {
  background-position: -16px -96px;
}

.ui-icon-document {
  background-position: -32px -96px;
}

.ui-icon-document-b {
  background-position: -48px -96px;
}

.ui-icon-note {
  background-position: -64px -96px;
}

.ui-icon-mail-closed {
  background-position: -80px -96px;
}

.ui-icon-mail-open {
  background-position: -96px -96px;
}

.ui-icon-suitcase {
  background-position: -112px -96px;
}

.ui-icon-comment {
  background-position: -128px -96px;
}

.ui-icon-person {
  background-position: -144px -96px;
}

.ui-icon-print {
  background-position: -160px -96px;
}

.ui-icon-trash {
  background-position: -176px -96px;
}

.ui-icon-locked {
  background-position: -192px -96px;
}

.ui-icon-unlocked {
  background-position: -208px -96px;
}

.ui-icon-bookmark {
  background-position: -224px -96px;
}

.ui-icon-tag {
  background-position: -240px -96px;
}

.ui-icon-home {
  background-position: 0 -112px;
}

.ui-icon-flag {
  background-position: -16px -112px;
}

.ui-icon-calendar {
  background-position: -32px -112px;
}

.ui-icon-cart {
  background-position: -48px -112px;
}

.ui-icon-pencil {
  background-position: -64px -112px;
}

.ui-icon-clock {
  background-position: -80px -112px;
}

.ui-icon-disk {
  background-position: -96px -112px;
}

.ui-icon-calculator {
  background-position: -112px -112px;
}

.ui-icon-zoomin {
  background-position: -128px -112px;
}

.ui-icon-zoomout {
  background-position: -144px -112px;
}

.ui-icon-search {
  background-position: -160px -112px;
}

.ui-icon-wrench {
  background-position: -176px -112px;
}

.ui-icon-gear {
  background-position: -192px -112px;
}

.ui-icon-heart {
  background-position: -208px -112px;
}

.ui-icon-star {
  background-position: -224px -112px;
}

.ui-icon-link {
  background-position: -240px -112px;
}

.ui-icon-cancel {
  background-position: 0 -128px;
}

.ui-icon-plus {
  background-position: -16px -128px;
}

.ui-icon-plusthick {
  background-position: -32px -128px;
}

.ui-icon-minus {
  background-position: -48px -128px;
}

.ui-icon-minusthick {
  background-position: -64px -128px;
}

.ui-icon-close {
  background-position: -80px -128px;
}

.ui-icon-closethick {
  background-position: -96px -128px;
}

.ui-icon-key {
  background-position: -112px -128px;
}

.ui-icon-lightbulb {
  background-position: -128px -128px;
}

.ui-icon-scissors {
  background-position: -144px -128px;
}

.ui-icon-clipboard {
  background-position: -160px -128px;
}

.ui-icon-copy {
  background-position: -176px -128px;
}

.ui-icon-contact {
  background-position: -192px -128px;
}

.ui-icon-image {
  background-position: -208px -128px;
}

.ui-icon-video {
  background-position: -224px -128px;
}

.ui-icon-script {
  background-position: -240px -128px;
}

.ui-icon-alert {
  background-position: 0 -144px;
}

.ui-icon-info {
  background-position: -16px -144px;
}

.ui-icon-notice {
  background-position: -32px -144px;
}

.ui-icon-help {
  background-position: -48px -144px;
}

.ui-icon-check {
  background-position: -64px -144px;
}

.ui-icon-bullet {
  background-position: -80px -144px;
}

.ui-icon-radio-on {
  background-position: -96px -144px;
}

.ui-icon-radio-off {
  background-position: -112px -144px;
}

.ui-icon-pin-w {
  background-position: -128px -144px;
}

.ui-icon-pin-s {
  background-position: -144px -144px;
}

.ui-icon-play {
  background-position: 0 -160px;
}

.ui-icon-pause {
  background-position: -16px -160px;
}

.ui-icon-seek-next {
  background-position: -32px -160px;
}

.ui-icon-seek-prev {
  background-position: -48px -160px;
}

.ui-icon-seek-end {
  background-position: -64px -160px;
}

.ui-icon-seek-start {
  background-position: -80px -160px;
}

.ui-icon-seek-first {
  background-position: -80px -160px;
}

.ui-icon-stop {
  background-position: -96px -160px;
}

.ui-icon-eject {
  background-position: -112px -160px;
}

.ui-icon-volume-off {
  background-position: -128px -160px;
}

.ui-icon-volume-on {
  background-position: -144px -160px;
}

.ui-icon-power {
  background-position: 0 -176px;
}

.ui-icon-signal-diag {
  background-position: -16px -176px;
}

.ui-icon-signal {
  background-position: -32px -176px;
}

.ui-icon-battery-0 {
  background-position: -48px -176px;
}

.ui-icon-battery-1 {
  background-position: -64px -176px;
}

.ui-icon-battery-2 {
  background-position: -80px -176px;
}

.ui-icon-battery-3 {
  background-position: -96px -176px;
}

.ui-icon-circle-plus {
  background-position: 0 -192px;
}

.ui-icon-circle-minus {
  background-position: -16px -192px;
}

.ui-icon-circle-close {
  background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}

.ui-icon-circle-check {
  background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 3px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 3px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 3px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 3px;
}

.ui-widget-overlay {
  background: #aaa;
  opacity: .3;
  filter: Alpha(Opacity=30);
}

.ui-widget-shadow {
  box-shadow: 0 0 5px #666;
}

.font {
    &_size12 {
        font-size: toem(12);
        line-height: toem(16,12);
        @include letter-spacing(12,15);
    }
    &_size14 {
        font-size: toem(14);
        line-height: toem(26,14);
        @include letter-spacing(14,15);
    }
    &_size18 {
        font-size: toem(18);
        line-height: toem(32,18);
    }
    &_size22 {
        font-size: toem(22);
        line-height: toem(38,22);
    }
    &_size44 {
        font-size: toem(44);
        line-height: toem(60,44);
    }
    &_size54 {
        font-size: toem(54);
        line-height: toem(70,54);
    }
    &_size120 {
        font-size: toem(120);
        line-height: 1;
        font-family: 'Trajan Pro 3';
    }
    &_upper {
        text-transform: uppercase;
    }
}

.fw {
    &_medium {
        font-weight: 500;
    }
}

.ff {
    &_trajan {
        font-family: 'Trajan Pro 3';
    }
}

.color {
    &_white {
        color: #fff;
    }
    &_blue {
        color: $blue;
    }
    &_yelow {
        color: $yelow;
    }
}

.bg {
    &_dark-blue {
        background: $dark-blue;
        color: #e9e9e9;
    }
}

.fade05 {
    opacity: 0.5;
}

@include placeholder {
    color: inherit;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: toem(16);
    font-weight: 500;
    padding: toem(10) toem(20) toem(10) toem(20);
    position: relative;
    &_yelow {
        background: $yelow;
        color: $dark-blue;
        &:hover {
            background: #e3cea7;
        }
    }
    &_medium {
        height: toem(54);
    }
    &_big {
        height: toem(70);
    }
    &_blue {
        color: #e9e9e9;
        background: $blue;
        background: linear-gradient(to right, #4384c0, #3c98ed);
        box-shadow: inset 0 0 toem(16) rgba(255,255,255,0.53);
        &:before {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            @include transition($default-transition);
            box-shadow: 0 toem(-17) toem(90) rgba(36,130,218,0.57);
        }
        &1 {
            &:before {
                opacity: 1;
            }
            &:hover:before {
                opacity: 0;
            }
        }
        &2 {
            &:before {
                opacity: 0;
            }
            &:hover:before {
                opacity: 1;
            }
        }
    }
    &__arrow {
        font-size: toem(12);
        margin-left: toem(18,12);
        padding-top: toem(2,12);
    }
    &:disabled {
        background: grey;
        opacity: 0.3;
        cursor: default;
        &:before {
            box-shadow: none;
        }
    }
}

.mt70 {
    margin-top: toem(70);
}

.mt65 {
    margin-top: toem(65);
}

.mt60 {
    margin-top: toem(60);
}

.mt55 {
    margin-top: toem(55);
}

.mt50 {
    margin-top: toem(50);
}

.mt45 {
    margin-top: toem(45);
}

.mt40 {
    margin-top: toem(40);
}

.mt35 {
    margin-top: toem(35);
}

.mt30 {
    margin-top: toem(30);
}

.mt25 {
    margin-top: toem(25);
}

.mt20 {
    margin-top: toem(20);
}

.mt15 {
    margin-top: toem(15);
}

.mt10 {
    margin-top: toem(10);
}

.mt5 {
    margin-top: toem(5);
}

.input-box {
    position: relative;
    &__icon {
        opacity: 0.5;
        font-size: toem(18);
        @include transition($default-transition);
        position: absolute;
        left: toem(30,18);
        top: toem(26,18);
        text-align: center;
        width: toem(22,18);
    }
    .parsley-errors-list {
        position: absolute;
        left: 10px;
        top: 5px;
    }
}

.input-text {
    display: block;
    width: 100%;
    height: toem(70);
    border-radius: 4px;
    font-weight: 500;
    @include letter-spacing(16,15);
    font-size: toem(16);
    padding-left: toem(80);
    &_border {
        border: 1px solid rgba(233,233,233,0.2);
        background: transparent;
    }
    &_fill {
        background: rgba(193,193,193,0.2);
        border: 1px solid transparent;
        &:focus {
            background: #fff;
            border: 1px solid rgba(193,193,193,0.5);
        }
    }
    &:focus + .parsley-errors-list + .input-box__icon, &:focus + .input-box__icon {
        opacity: 1;
    }
    &.parsley-error {
        color: #f6504d;
        & + .parsley-errors-list + .input-box__icon {
            color: #f6504d;
            opacity: 1;
        }
    }
}

.desc-screen {
    text-transform: uppercase;
    @include letter-spacing(16,200);
    line-height: 1.5;
    margin-left: toem(3);
}

.link-more {
    @include letter-spacing(16,15);
    display: flex;
    align-items: center;
    &__arrow {
        font-size: toem(13);
        margin-left: toem(15,13);
        @include transition($default-transition);
    }
    &:hover {
        .link-more__arrow {
            transform: translateX(-0.6em);
        }
    }
}

.z-index2 {
    position: relative;
    z-index: 2;
}

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/


.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__item {
        opacity: 0.3;
        color: #fff;
        font-size: toem(18);
        &:hover {
            opacity: 1;
        }
        &_vk {
            font-size: toem(26);
            margin-right: toem(15,26);
        }
        &_youtube {
            font-size: toem(19);
            margin-right: toem(18,19);
        }
        &_instagram {
            font-size: toem(18);
            margin-right: toem(15,18);
        }
        &_facebook {
            font-size: toem(18);
        }
    }
}

.main-screen {
    background-position: top;
    background-repeat: no-repeat;
    min-height: 115px;
    &_catalog {
        padding-bottom: toem(396);
        overflow: hidden;
        background-image: url(/images/bg-catalog.jpg);
    }
    &_about, &_partner {
        background-image: url(/images/main/main_bg.jpg);
    }
    &__dots_catalog {
        widows: toem(334);
        position: absolute;
        left: toem(-60);
        bottom: toem(-430);
    }
    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: toem(140);
    }
    .desc-screen {
        padding-top: toem(10);
    }
    &__left {
        width: 50%;
    }
    &__right {
        width: 475/1170*100%;
    }
    &__magazine {
        position: relative;
        &:after {
            content: '';
            display: block;
            height: 1px;
            width: 1000px;
            background: #fff;
            opacity: 0.3;
            position: absolute;
            top: 50%;
            right: -960px;
        }
        &-img {
            width: toem(325);
            position: absolute;
            z-index: 2;
            left: toem(-264);
            top: toem(-45);
        }
        .button {
            padding-left: toem(48);
            padding-right: toem(30);
        }
    }
    &__col100 {
        width: 100%;
    }
    &_about {
        min-height: 0;
        height: toem(957);
        .catalog-slider__pic {
            margin-top: toem(70);
        }
        .catalog-slider__caption {
            box-shadow: 0 -6px 117px rgba(101,101,101,0.56);
        }
    }
    &__about-dots {
        position: absolute;
        bottom: toem(155);
        right: toem(-70);
    }
    &__to-vebinar {
        width: toem(360);
        max-width: 100%;
    }
    &_partner {
        .main {
            min-height: 100vh;
        }
        .catalog-slider__caption {
            box-shadow: 0 -6px 117px rgba(101,101,101,0.56);
        }
        .main-screen__content {
            position: relative;
            z-index: 2;
        }
    }
    &__partner-dots {
        position: absolute;
        bottom: 0;
        right: toem(-70);
    }
    &__director {
        position: absolute;
        bottom: toem(-155);
        right: 15px;
        background: $dark-blue;
        width: 585/1200*100%;
        height: toem(454);
        border-radius: 4px;
        &-img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0 30px 0 30px;
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 100%;
            }
        }
    }
}

.fullscreen-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    &__video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        height: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-size: cover;
        -webkit-transition: 1s opacity;
        transition: 1s opacity;
        opacity: 0.2;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 10%;
        background: $dark-blue;
        background: linear-gradient(to top, $dark-blue, rgba(35,38,55,0));
    }
}

.play-box {
    display: flex;
    align-items: center;
    &__thumb {
        margin-right: toem(23);
    }
}

/* Play animate start */

.play {
    width: toem(196);
    min-width: toem(196);
    border-radius: 100%;
    position: relative;
    z-index: 5;
    cursor: pointer;
    @include transition(0.3);
    &__img {
        position: relative;
        z-index: 3;
        display: block;
        width: 100%;
        border-radius: 100%;
        box-shadow: 0 0 79px rgba(255,255,255,0.12);
    }
    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 100%;
        height: 100%;
        font-size: toem(22);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1111;
    }
    &__circle {
        background: #fff;
        border-radius: 50%;
        left: 20%;
        position: absolute;
        top: 20%;
        height: 60%;
	    width: 60%;
        z-index: 3;
        animation: circle 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        webkit-animation: circle 4s;
        webkit-animation-iteration-count: infinite;
        webkit-animation-timing-function: linear;
        &:nth-child(2) {
            animation-delay: 1s;
            webkit-animation-delay: 1s;
        }
        &:nth-child(3) {
            animation-delay: 2s;
            webkit-animation-delay: 2s;
        }
        &:nth-child(4) {
            animation-delay: 3s;
            webkit-animation-delay: 3s;
        }
    }
    &.active {
        transform: scale(1.6);
        .play__video {
            opacity: 0.9;
        }
    }
    &__video {
        left: 0;
        top: 0;
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        z-index: 100;
        overflow: hidden;
        cursor: pointer;
        @include transition(0.3);
    }
    &__iframe {
        height: 180%;
        left: -40%;
        position: absolute;
        top: -40%;
        width: 180%;
        z-index: 20;
        iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}

@-webkit-keyframes circle
{
	0%
	{
		opacity: .2;
		transform: scale(1);
		webkit-transform: scale(1);
	}
	100%
	{
		opacity: 0;
		transform: scale(3);
		webkit-transform: scale(3);
	}
}
@keyframes circle
{
	0%
	{
		opacity: .2;
		transform: scale(1);
		webkit-transform: scale(1);
	}
	100%
	{
		opacity: 0;
		transform: scale(3);
		webkit-transform: scale(3);
	}
}

/* Play animate end */

.desc {
    display: flex;
    align-items: flex-start;
    &__icon {
        height: auto;
        width: toem(20);
        margin-right: toem(30);
        margin-top: toem(7);
    }
}

.year {
    display: flex;
    &__text {
        text-align: center;
        margin-left: toem(18);
    }
    &__medal {
        font-size: toem(45);
        padding-top: toem(7,45);
        margin-bottom: toem(20,45);
    }
}

.head-screen {
    margin-left: toem(225);
    position: relative;
}

@include max(900) {
    .main-screen {
        &__content {
            flex-wrap: wrap;
            margin-top: 40px;
        }
        &__left, &__right {
            width: 100%;
        }
        &__right {
            display: flex;
            justify-content: space-between;
        }
        &__magazine:after {
            display: none;
        }
    }
}

@include max(769) {
    .main-screen {
        &__content-desc {
            margin-top: 30px;
        }
    }
}

@include max(700) {
    .main-screen {
        &__content {
            margin-top: 20px;
        }
        &__right {
            display: block;
            margin-top: 30px;
        }
        .year {
            font-size: 12px;
        }
        &__magazine {
            margin-top: 20px;
            &-img {
                display: none;
            }
            .button {
                padding-left: toem(30);
            }
        }
    }
    .main-screen {
        &__director, &__partner-dots {
            display: none;
        }
        &_partner {
            min-height: 0;
            padding-bottom: 80px;
            .main {
                min-height: 0;
            }
        }
    }
}

@include max(479) {
    .main-screen {
        &__magazine {
            .button {
                width: 100%;
            }
        }
    }
    h1, h2 {
        br {
            display: none;
        }
    }
    .font {
        &_size54 {
            font-size: 32px;
        }
        &_size22 {
            font-size: 14px;
        }
        &_size44 {
            font-size: 26px;
        }
    }
    .main-screen_about .catalog-slider__pic {
        margin-left: -15px;
        margin-right: -15px;
    }
    .main-screen__about-dots {
        display: none;
    }
    .main-screen {
        // background-image: url(/images/main/main_bg.jpg);
        .fullscreen-bg {
            // display: none;
        }
    }
}
