// 
// user.scss
// Use this to write your custom SCSS
//


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url('/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
      url('/iconfont/MaterialIcons-Regular.woff') format('woff'),
      url('/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}
// .material-icons.md-18 { font-size: 18px; }
// .material-icons.md-24 { font-size: 24px; }
// .material-icons.md-36 { font-size: 36px; }
// .material-icons.md-48 { font-size: 48px; }


@media (max-width: 767px) {
    .navbar-brand {
        padding: 0 !important;
        width: 150px;
        img {
            margin: 0;
            max-height: 2rem;
        }
    }
}



button .material-icons {
    display: block;
    margin: -1px 0;
}

.header-title {
    margin: 6px 0;
    font-family: 'Trajan Pro 3';
    font-weight: normal;
}
.card-header h4, .modal-title {
    font-family: 'Trajan Pro 3';
    font-weight: normal;
}

.building-list {
    .card {
        cursor: pointer;
    }
    .card-title {
        height: 25px;
        overflow: hidden;
    }
    .card-img-top {
        height: 150px;
        background: url('/images/empty.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: #eee;
        background-size: contain;
        object-fit: cover;
    }
    .card-desc {
        height: 45px;
        overflow: hidden;
    }
}
.people-list {
    .card {
        cursor: pointer;
    }
    .card-img-top {
        height: 15vw;
        object-fit: cover;
        background: #EDF2F9;
    }
}
.avatar {
    // height: 64px;
    // width: 64px;
    overflow: hidden;
    .avatar-img {
        background: #EEE;
        
    }
}
.picture-input {
    z-index: 0;
    canvas {
        border-radius: 4px !important;
        background: none !important;
        object-fit: cover !important;
        z-index: 0 !important;
    }
    .preview-container {
        position: relative !important;
        width: 100% !important;
        max-width: none !important;
    }
    .picture-inner {
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        border: 1px dashed #bcc9da !important;
        padding: 0 !important;
        border-radius: 4px !important;
        background: #EDF2F9 !important;
        .picture-inner-text {
            padding: 20px !important;
            font-size: 11px !important;
            color: #9eaec5 !important;
        }
    }
}
.form-control {
    border-radius: 4px;
}
.modal {
    .modal-title {
        font-size: 1rem;
        font-weight: 700;
    }
}
#modalPeopleEdit {
    .card-body {
        max-height: none;
    }
    .form-group {
        &:last-child {
            margin-bottom: 0;
        }
    }
    .modal-footer {
        display: block;
    }
}

.navbar-vertical.navbar-expand-md .navbar-brand {
    padding: .5rem 0 2rem;
    .navbar-brand-img {
        
    }
}

.btn.btn-primary {
    background: linear-gradient(to right, #4384c0, #3c98ed);
    box-shadow: inset 0 0 1em rgba(255, 255, 255, 0.53);
    border: none;
}






.card-stage {
    .card-body {
        .row {
            border-bottom: 1px solid #EDF2F9;
            margin-bottom: 1.375rem;
        }
    }
}




.card-header:first-child {
    border-radius: 4px;
}














.main-content {
    
}

.building-edit {
    position: relative;
    .building-edit-header {
        .picture-input {
            canvas {
                border-radius: 0 !important;
            }
            .picture-inner {
                border-radius: 0 !important;
                border: none !important;
            }
        }
        .avatar {
            canvas {
                border-radius: 50% !important;
                border: 4px solid #F9FBFD;
            }
            .picture-inner {
                border-radius: 50% !important;
                border: 4px solid #F9FBFD !important;
            }
        }
        img.header-img-top {
            height: 250px;
            object-fit: cover;
        }
        h6 {
            @media (max-width: 767px) {
                display: none;
            }
        }
        .col-button {
            @media (max-width: 767px) {
                padding-top: 45px;
            }
        }
    }
    .building-edit-stage {
        .card {
            .picture-input {
                canvas {
                    border-radius: 4px 4px 0 0 !important;
                }
                .picture-inner {
                    border-radius: 4px 4px 0 0 !important;
                    border: none !important;
                }
            }
            .vdp-datepicker__calendar {
                z-index: 1000000000 !important;
            }
            .remove {
                position: absolute;
                background: red;
                top: 0;
                right: 0;
                z-index: 1000000000;
                background: linear-gradient(to right, #4384c0, #3c98ed);
                box-shadow: inset 0 0 1em rgba(255, 255, 255, 0.53);
                padding: 10px;
                border-radius: 0 4px 0 4px;
                display: none;
                cursor: pointer;
                color: white;
                border-bottom: 1px solid white;
                border-left: 1px solid white;
                @media (max-width: 767px) {
                    display: block;
                }
                i {
                    display: block;
                }
            }
            textarea {
                resize: none;
            }
            &:hover {
                .remove {
                    display: block;
                }
            }
        }
    }
    .building-edit-plan {
        .carousel {
            border-top-left-radius: calc(0.5rem - 1px);
            border-top-right-radius: calc(0.5rem - 1px);
            overflow: hidden;
            .carousel-item {
                img {
                    height: 10vw;
                    width: auto;
                    object-fit: contain;
                    @media(max-width: 767px) {
                        height: 25vw;
                    }
                }
            }
            .empty {
                height: 10vw;
                background: url('/images/empty.svg');
                background-repeat: no-repeat;
                background-position: center;
                @media(max-width: 767px) {
                    height: 25vw;
                }                
            }
        }
        .card {
            cursor: pointer;
            .card-title, .card-text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &:hover {
                box-shadow: 0 0.75rem 2rem rgba(18, 38, 63, 0.23);
                .card-title {
                    text-decoration: underline;
                }
                .edit {
                    display: block;
                }
            }
            .edit {
                position: absolute;
                right: 10px;
                bottom: 0;
                width: 20px;
                height: 20px;
                background: url('/images/edit.svg');
                display: none;
            }
        }
        #modalPlanEdit {
            .picture-input {
                background: #EDF2F9;
                padding: 6px;
                border-radius: 4px !important;
                canvas {
                    border-radius: 0 !important;
                    object-fit: contain !important;
                }
                .picture-inner {
                    border-radius: 0 !important;
                    border: none !important;
                }
            }
            .form-group-image {
                position: relative;
                .remove {
                    position: absolute;
                    background: red;
                    top: 0;
                    right: 0;
                    z-index: 1000000000;
                    background: linear-gradient(to right, #4384c0, #3c98ed);
                    box-shadow: inset 0 0 1em rgba(255, 255, 255, 0.53);
                    padding: 10px;
                    border-radius: 0 4px 0 4px;
                    cursor: pointer;
                    color: white;
                    border-bottom: 1px solid white;
                    border-left: 1px solid white;
                    i {
                        display: block;
                    }
                }
            }
        }
    }
    .building-edit-apartment {
        tbody {
            tr {
                td {
                    padding: 5px 0;
                    button {
                        display: none; 
                    }
                    .material-icons {
                        
                    }
                }
                &:hover {
                    button {
                        display: block;
                    }
                }
            }
        }
    }
}

label {
    color: #95AAC9
}


// html {
//     height: 100%;
// }
// body {
//     min-height: 100%;
//     display: flex;
// }
// .main {
//     flex-grow: 1;
//     flex-wrap: wrap;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     .menu {
//         flex-basis: 200px;
//         flex-shrink: 0;
//         position: relative;
//         ul {
//             position: fixed;
//             left: 0;
//             top: 0;
//             margin: 0;
//             padding: 0;
//             list-style: none;
//             li {
//                 padding: 6px 16px;
//                 &:first-child {
//                     padding-top: 16px;
//                 }
//                 a {

//                 }
//             }
//         }
//     }
//     .content {
//         flex-grow: 1;
//         padding: 16px;
//     }
// }
// .jumbotron {
//     margin: -16px -16px 16px;
// }